[2022-06-28 01:41] gxwyxajh88 opened #2 "和paddlex有什么区别？"
大概看了一下，功能各方面好像和paddlex有很多重复，而且貌似paddle系列的很多东西都有类似重复的东西

[2022-06-28 05:41] jiangjiajun commented on #2
HI, @gxwyxajh88  你肯定是飞桨的老用户了！

PaddleX是一款快速低门槛的训练+部署工具。 当初在开发时，基于PaddleDetection，PaddleSeg和PaddleClas封装了上层的训练接口，同时针对PaddleX的训练产出模型，提供了部署的代码封装，此后也再拓展支持了PaddleDetection、PaddleSeg和PaddleClas的模型部署。但整体而言，PaddleX定位还是CV传统几大任务的的训练+部署。

FastDeploy则是专门推出的一款部署套件，除了CV几大任务，同时还会支持NLP、语音等多种领域的模型部署。 在部署能力上后面会融合PaddleX已有的一些设计，让大家更快，更方便把模型部署起来！

FastDeploy刚开源，相信会有很多可优化迭代的地方，可以加我们微信群进行交流 :)

[2022-06-28 08:20] wanghaisheng commented on #2
请保持这个响应速度

[2022-06-28 13:28] yangyangyang0110 opened #4 "解码器使用的cpu还是gpu"

[2022-06-29 01:51] jiangjiajun commented on #4
你是指视频解码吗？

[2022-06-29 02:03] yangyangyang0110 commented on #4
是的， 主要关心解码方面有没有硬件加速(尤其在nvidia-gpu设备上)

[2022-06-29 03:35] leiqing1 commented on #4
FastDeploy目前里面使用的CPU，没有调研NV的硬解码模块。目前常见的网络协议都支持（rtsp rtmp hls http）。
咱们这边必须使用GPU解码，是遇到什么性能瓶颈了吗？

[2022-06-30 07:19] leiqing1 opened #5 "新模型/新硬件需求收集 (Requirement collection for new model/hardware)"
如果你希望FastDeploy支持新的AI模型/新硬件，或与FastDeploy共建生态，欢迎随时联系我们 （If you want FastDeploy to support new AI models/new hardware, or build an ecosystem with FastDeploy, please feel free to contact us）

1. 硬件型号 (hardware)：例如: 晶晨A311D (Example:Amlogic A311D)

2. 系统 (OS)：例如：Linux (Example:Linux)

3. 网络名称 (model name)：例如：PP-PicoDet (Example:PP-PicoDet)

4. 模型链接（model link）： 例如：https://github.com/PaddlePaddle/Paddl

[2022-06-30 08:10] #5 closed, assigned to nobody

[2022-06-30 08:13] leiqing1 opened #6 "FastDeploy模型、硬件支持计划"
## 模型 （CV、NLP、Speech、Cross-modal）
- [ ] PP-Tracking(Doing)
- [ ] Robust Video Matting(Doing)

## 平台& 硬件 （云、边、端）
- [ ] Android ARM CPU
- - [ ] Picodet(Doing)
- - [ ] PaddleClas(Doing)
- [ ] RKNN2
- - [ ] YOLOv5(Doing)

如果你希望FastDeploy支持新的AI模型/新硬件，或与FastDeploy共建生态，欢迎提供如下信息我们：
1. 硬件型号：例如: 晶晨A311D
2. 操作系统：例如：Linux
3. 网络名称：例如：PP-PicoDet
4. 模型链接：例如：https://github.com/PaddlePaddle/PaddleDetection/tree/re

[2022-06-30 08:14] leiqing1 opened #7 "Requirement collection for new model/hardware"
If you want FastDeploy to support new AI models/new hardware, or build an ecosystem with FastDeploy, please feel free to contact us：
1. Hardware: Example:Amlogic A311D
2. OS: Example:Linux
3. Model name: Example:PP-PicoDet
4. Model link: Example:https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/picodet
5. Detailed Description: Example: I hope to use the PP-PicoDet-M model in

[2022-07-02 11:49] Sqhttwl opened #9 "边缘侧部署Serving"
反馈一个bug,文档中写的是./easyedge_serving ./RES可以启动http服务
![1addb70e0f0a8ba8.jpg](https://user-images.githubusercontent.com/61459740/176999462-bbe2a4d4-4ece-464e-b242-1e492bb73684.jpg)
但实际需要在RES后面添加一个参数，任意一个数字
![mmexport1656762023211.jpg](https://user-images.githubusercontent.com/61459740/176999506-d3cc8eff-e6b9-41e9-a9d5-e7a6ac13de68.jpg)
![mmexport1656762018367.jpg](https://user-images.githubusercontent.

[2022-07-02 15:48] ZeyuChen commented on #2
@wanghaisheng 没问题，欢迎多多issues反馈需求与问题讨论！

[2022-07-02 15:48] #2 closed, assigned to nobody

[2022-07-04 01:35] leiqing1 commented on #9
您好，Jetson上测试Demo的bug已经收到，我们尽快修复。
您现在使用，可以通过修改src文件下的代码，重新编译源代码，可以先解决结合这个问题。
感谢您反馈问题！

[2022-07-18 16:14] zevr10 opened #24 "USA Team seeking english support"
Hello my friends -- we are a NYC based team interested to explore using the PaddlePaddle framework. Do you know any english-speaking members of the PaddlePaddle community that we may connect with?

Thank you
Zev

[2022-07-29 02:03] BuLuoPiaoYu opened #57 "cmake失败"
模型如下
![image](https://user-images.githubusercontent.com/54087448/181667247-54b036fd-72c3-4a5e-b0d3-05ee7480b85a.png)

cmake报错如下
![image](https://user-images.githubusercontent.com/54087448/181667209-1ad56baf-2156-4076-ba3f-85bd931de755.png)

[2022-07-29 09:30] leiqing1 commented on #57
直接cmake ..就行，不用加其他选项。

你是在cmake的时候把 EDGE_BUILD_OPENCV 编译选项开了吧，这个不用开的，SDK里面自带opencv的动态库
![image](https://user-images.githubusercontent.com/54695910/181729825-771ab65d-ae5f-4b5f-9008-15804ed069a4.png)
![image](https://user-images.githubusercontent.com/54695910/181729879-4c4e7113-e68e-415a-9f14-40504c7da059.png)
![image](https://user-images.githubusercontent.com/54695910/181729914-7d29d3c1-5b32-4c78-

[2022-08-01 01:08] BuLuoPiaoYu commented on #57
不开Opencv是可以Cmake成功的，不过VS这边编译还是会报错的，不知道这个要怎么解决？
![image](https://user-images.githubusercontent.com/54087448/182054122-e50f98d9-6eb6-4702-810a-37e4fc3853a2.png)

VS报错信息
![image](https://user-images.githubusercontent.com/54087448/182053970-5045a3a1-fde8-41b6-ac81-d934d0ba1c1c.png)

[2022-08-01 03:04] leiqing1 commented on #24
@purplesystems Hello, Do you have any problems with FastDeploy?
 If you have any questions using PaddlePaddle,  you can contact with the  PaddlePaddle community in english issue.

[2022-08-03 06:33] ccLemonTree opened #65 "Jetson部署OCR"
请问有在Jetson上部署OCR的Demo嘛

[2022-08-04 03:18] leiqing1 commented on #65
OCRv1～V3的Jetson部署demo都有，需要Jetpack4.6. 可以参考这个文档体验：https://github.com/PaddlePaddle/FastDeploy/blob/release/0.1.0/docs/Jetson-Linux-CPP-SDK-Inference.md
近期会发布v0.3，产品体验会升级。

[2022-08-04 03:20] ccLemonTree commented on #65
好的 感谢

[2022-08-08 09:14] jiangjiajun opened #78 "Just for image testing, ignore this issue"

[2022-08-08 09:14] #78 closed, assigned to nobody

[2022-08-19 09:14] l7518597 opened #135 "这个不会用啊"
不会用啊  还是和lite.ai.toolkit一样要先自己编译吗?
话说好不容易学会lite.ai.toolkit的编译  难受

[2022-08-19 09:22] #135 closed, assigned to nobody

[2022-08-19 09:33] DefTruth commented on #135
@l7518597 fastdeploy现在支持python pip 方式直接安装，同学可以尝试一下哈 ~ 另外我们也提供了各个平台和硬件c++的预编译库，方便快速部署 ~ 后续我们可能会将lite.ai.toolkit中的重点模型以contrib的方式移植到fastdeploy中来。

[2022-08-19 09:47] l7518597 commented on #135
您好,可以win32位系统部署吗

[2022-08-19 10:19] jiangjiajun commented on #135
目前0.2.0只支持Windows 10 64位哈

[2022-08-20 10:28] sctrueew opened #138 "【Supported】Yolov5 classification"
Hi,

Is it possible to support https://github.com/ultralytics/yolov5/pull/8956 models?

Thanks

[2022-08-22 03:02] DefTruth commented on #138
@sctrueew hi ~, we have received your issue.  we may support this latest yolov5-cls classification https://github.com/ultralytics/yolov5/pull/8956 models in next release (version v0.3.0). What tasks do you mainly use this model for?

[2022-08-22 03:52] sctrueew commented on #138
@DefTruth Hi, thanks for your response. It would be helpful if you could classify and extract features for me.

[2022-08-22 15:42] wsx958191 opened #143 "抠图的readme是不是写错？"
你好，
      我这边测试matting抠图cpu方案时，按照readme.txt 操作，明明下载的是gpu的依赖包，为啥安装下时候指定cpu的路径？
![企业微信截图_54c40950-aeeb-402d-918c-97c323686c9f](https://user-images.githubusercontent.com/66000167/185962382-164550e6-56fd-4e87-a90d-9cc51be63c69.png)

[2022-08-23 01:44] jiangjiajun commented on #143
@wsx958191 谢谢你的反馈。 确实是文档写错了，应该默认给的是CPU下载链接，这个我们尽快修改完成。 当前你可以在预编译库页面自行下载CPU库进行使用

[2022-08-23 08:42] l7518597 opened #147 "怎么cmake？编译文档"
怎么cmake？可以像lite.ai.tookit一样出一套流程吗

[2022-08-23 09:16] DefTruth commented on #147
@l7518597 您好，源码编译可以查看这里的编译文档：https://github.com/PaddlePaddle/FastDeploy/tree/develop/docs/compile

[2022-08-23 09:21] DefTruth commented on #147
* [Linux和Mac下源码编译](https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/compile/how_to_build_linux_and_mac.md)
* [Windows下源码编译](https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/compile/how_to_build_windows.md)

[2022-08-23 09:23] DefTruth commented on #147
@l7518597 C++目前已经提供了编译好的库可以使用，一般情况下不需要从源码编译，可以从这里下载预编译库。
* [FastDeploy C++ 预编译库](https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/quick_start/CPP_prebuilt_libraries.md)

[2022-08-23 13:03] l7518597 commented on #147
yolo5推理   CPU推理成功   GPU推理卡在CMD窗口（失败）  是否要自己编译opencv GPU版本去替换啊

[2022-08-23 13:08] jiangjiajun commented on #147
你的环境可以贴一下吗？

Windows系统(10/x64等) /CUDA/显卡型号/Python

[2022-08-23 13:53] l7518597 commented on #147
您好，我的电脑配置：win10 64 ltsc1809  cuda11.4 显卡：1650  用的vs2019

[2022-08-23 13:55] l7518597 commented on #147
![image](https://user-images.githubusercontent.com/26214901/186176675-d42a0c3a-9fd5-4750-ae78-d3888f222ba7.png)
我自己编译的话  这么配置报错

[2022-08-23 14:07] l7518597 commented on #147
我继续摸索摸索  新手容易遇到问题^-^

[2022-08-23 14:23] jiangjiajun commented on #147
ENABLE_OPENCV_CUDA建议先关闭，这个还未完全测试。

建议打开如下开关
ENABLE_ORT_BACKEND
ENABLE_PADDLE_BACKEND
ENABLE_VISION
其余采用默认配置即可

可参考这个文档进行编译 https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/compile/how_to_build_windows.md

[2022-08-23 14:38] l7518597 commented on #147
不开opencv_cuda的话   能支持GPU吗?  我试过fastdeploy-win-x64-gpu-0.2.0的GPU调用有问题  cpu调用正常

[2022-08-23 14:42] DefTruth commented on #147
不开opencv_cuda不会影响模型推理，模型推理还是支持GPU的。关于fastdeploy-win-x64-gpu-0.2.0 GPU调用的问题，方便贴一下错误提示吗？有可能是CUDA版本不一致的问题，我看到您这里的是CUDA 11.4，预编译的python包是用CUDA 11.2编译的。

[2022-08-23 14:59] l7518597 commented on #147
const std::string p = "C:/Users/Administrator/Desktop/yolov5s.onnx";
const std::string p1 = "C:/Users/Administrator/Desktop/000000014439.jpg";
CpuInfer(p, p1);
上面CPU调用时，正常
//=======================
GpuInfer(p, p1);
上面GPU调用时，异常，见下图，控制台无输出
![image](https://user-images.githubusercontent.com/26214901/186191457-3cbbabce-bd5c-417c-b38f-7405b52a8cb6.png)
//=======================
 TrtInfer(p, p1);
失败
![i

[2022-08-23 15:07] l7518597 commented on #147
GpuInfer(p, p1);调用时，我有尝试在const std::string p行处下断点。  但是只有点击调试  就直接异常   没有机会执行

[2022-08-23 15:30] DefTruth commented on #147
@l7518597 感谢您提供的信息，我们会尽快分析这个问题，请您耐心等候 ~

[2022-08-23 15:46] l7518597 commented on #147
不用称呼您 我做为一个小白会不好意思^-^ 早点休息哦

[2022-08-24 02:52] DefTruth commented on #147
@l7518597 我看到提示是无法加载 "nvinfer_builder_resource.dll" 动态库。应该是没指定这些库的搜索路径，在windows下使用 FastDeploy C++ SDK 需要指定这些库的搜索路径，或者将依赖库都拷贝到exe的同级目录下

[2022-08-24 02:54] DefTruth commented on #147
可以参考我们的Windows C++ SDK使用示例。
- [如何在Windows下使用FastDeploy C++ SDK](https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/compile/how_to_use_sdk_on_windows.md)

[2022-08-24 03:01] l7518597 commented on #147
已经指定过包含目录和库目录,相关dll也复制到exe同目录下.方便加个好友了远程吗,QQ 微信都行

[2022-08-24 03:06] DefTruth commented on #147
好的，我和我们PM说一下哈 ~ @leiqing1

[2022-08-24 03:08] DefTruth commented on #147
可以截图看下您的设置，以及exe下的文件情况吗？

[2022-08-24 03:11] leiqing1 commented on #147
你好，欢迎加我微信交流FastDeploy使用问题。微信：18813190139

[2022-08-24 03:14] l7518597 commented on #147
抱歉，是我的疏忽 因为之前GPU不成功  我把opencv替换成了我自己的版本。导致opencv出问题   我刚才删掉opencv文件夹后重新解压。发现正常了。  抱歉抱歉

[2022-08-24 03:20] DefTruth commented on #147
好的哈~

[2022-08-24 03:24] l7518597 commented on #147
抱歉   我继续测试yolo7

[2022-08-24 03:27] wsx958191 opened #150 "不同平台编译问题咨询"
你好，
      我这边在搭建环境过程中，看见好多third_party都是需要直接下载使用的，不知道是否可行在不同平台自己拿源码编译，有没有变异文档类似资料？

[2022-08-24 03:36] DefTruth commented on #150
可以在这里找到我们的编译文档，目前支持在Linux/Mac/Win下源码编译：
* [FastFeploy C++ 源码编译文档](https://github.com/PaddlePaddle/FastDeploy/tree/develop/docs/compile)

[2022-08-24 03:36] DefTruth commented on #150
请问您主要是想在什么平台下使用FastDeploy呢？

[2022-08-24 03:37] DefTruth commented on #138
ongoing ~

[2022-08-24 03:38] wsx958191 commented on #150
我这边主要想在linux和win平台上？不知道后续是否有计划引入wav2lip的能力

[2022-08-24 03:48] DefTruth commented on #150
linux和win上，我们目前有提供了C++的预编译库。
- [FastDeploy C++ SDK 预编译库](https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/quick_start/CPP_prebuilt_libraries.md)

[2022-08-24 03:51] DefTruth commented on #150
关于wav2lip，这应该是语音唇型驱动的模型，请问您主要是想用在什么场景呢？我们目前模型这块，是以CV/NLP为主，但是有计划添加语音相关的模型

[2022-08-24 11:32] wsx958191 commented on #150
你好，这个预计大概什么时候会有beta版本出来

[2022-08-24 13:00] DefTruth commented on #150
预计是下个Q，目前的主打模型是CV/NLP，欢迎持续关注FastDeploy哈 ~

[2022-08-24 15:16] wsx958191 commented on #143
你好，这里是不是也写错了，执行命令中也不应该加infer.cc吧
![企业微信截图_7fdcbd43-4f60-45ef-957e-4dd9b23acfe9](https://user-images.githubusercontent.com/66000167/186456446-8438053c-93f5-4244-ab44-bd71c28a2fb6.png)

[2022-08-24 15:21] wsx958191 commented on #150
OK，我看FastdePoly已经支持segmentation，也支持HH-humanSeq，这个我应该怎么测试叠加，背景替换的功能哈

![企业微信截图_d3a9f47f-86c7-40bc-98e8-5ed5ec03665a](https://user-images.githubusercontent.com/66000167/186457530-470acda4-8f58-443f-ac71-6306f4b37a35.png)

[2022-08-24 20:59] monkeycc opened #154 "PaddleX导出的模型,怎么办"
PaddleX导出的模型,怎么办

配置文件 只有
model.yml
pipeline.yml

[2022-08-25 01:04] jiangjiajun commented on #154
你平时使用PaddleX的哪些模型呢

[2022-08-25 01:12] jiangjiajun commented on #143
看起来确实有问题，开发的同学在写文档时可能没有检查到，我们都重新再review下哈。

如果使用过程中有发现文档问题，也欢迎通过PR修改文档，成为FastDeploy的contributer 😃

[2022-08-25 02:48] monkeycc commented on #154
都有 4大模型 都有用

分类 目标 语义 实例

因为paddleX是通用的  比较好用

希望能增加paddleX模型的预测

主要是方便打包部署

这样就不需要打包整个paddle和paddleX
很麻烦

[2022-08-25 02:50] DefTruth commented on #150
我们的开发人员正在开发相关的辅助功能

[2022-08-25 03:00] wsx958191 commented on #150
哈喽，这个有预计发布时间吗？

[2022-08-25 03:07] DefTruth commented on #150
这些分割和抠图类的辅助函数会逐步添加进来，预计在下个版本会更加完善，但是如果开发好了我们会先提到develop分支，您可以关注develop分支的最新进展哈~

[2022-08-25 05:44] jiangjiajun commented on #154
你在使用的是PaddleX哪个版本呢（客户端还是PaddleX Python API， 版本号）

[2022-08-25 05:54] wsx958191 commented on #143
哈喽，我这边matting时候，发现了一个badcase，麻烦看看是否能解决
<img width="1049" alt="企业微信截图_867a8332-53dc-4b2c-8c48-24ff3f9e2efc" src="https://user-images.githubusercontent.com/66000167/186585689-e415acc7-4154-4199-b554-6b685c0a689e.png">

原图资源：
![image](https://user-images.githubusercontent.com/66000167/186585754-9eefd005-acd6-4ee1-b1b4-67f6b048f2cb.png)

[2022-08-25 05:56] wsx958191 commented on #143
哈喽，我这边测试matting的时候，发现了一个bad case，看是否能解决？
<img width="1066" alt="企业微信截图_673dd421-bf2e-4501-9bf1-5abdc9383d73" src="https://user-images.githubusercontent.com/66000167/186585959-d2765965-8f82-4f26-ae48-d9d4d69359f4.png">
![image](https://user-images.githubusercontent.com/66000167/186586024-d28ad82c-a595-4d04-895e-c1f860a69e62.png)

[2022-08-25 07:14] DefTruth commented on #143
这应该是集成的外部模型本身的效果问题，我们目前正在集成paddle内部的matting模型，效果应该要更好一些

[2022-08-25 07:28] monkeycc commented on #154
客户端训练

部署是PaddleX Python API

版本最新  2.1.0

python打包多费劲

paddle + paddleX 都要打包进去
各种报错
而且我只需要预测而已

如果FastDeploy能实现paddleX模型预测
那么部署打包
只需要部署FastDeploy就行了
这样就方便多了

[2022-08-25 08:51] wsx958191 commented on #143
好的，感谢，建议你们拉个技术沟通群或者服务群，这样各种反馈和沟通比较高效？

[2022-08-25 09:13] DefTruth commented on #143
好的哈，欢迎加入README首页的群哈~

[2022-08-25 12:20] wsx958191 commented on #143
二维码过期了哈

[2022-08-27 08:09] wsx958191 opened #165 "Vs2022 社区版Matting 测试失败"
你好：
     我们这边在2022 win10平台测试matting时候，发现在模型加载的时候crash了，dll依赖都是我们本地编译的的，没有使用预编译的库，在linux平台测试正常，麻烦后续关注下？谢谢

<img width="722" alt="企业微信截图_16615875006549" src="https://user-images.githubusercontent.com/66000167/187021359-78335fb7-a83b-48b8-a482-b746d3ba8d6c.png">
<img width="668" alt="企业微信截图_16615877091412" src="https://user-images.githubusercontent.com/66000167/187021372-7773c054-4f43-4189-b4a0-f1c4a

[2022-08-27 08:11] DefTruth commented on #165
感谢您的反馈，我们会继续跟进这个问题~

[2022-08-27 08:12] DefTruth commented on #165
onnxruntime.dll，paddle2onnx.dll这些也是你们本地编译的吗？还是说是在编fastdeploy的时候随着download的？

[2022-08-27 14:48] wsx958191 commented on #165
我看了下工程，除了fastdeploy库，onnxruntime.dll，paddle2onnx.dll这两个库应该是编译的时候download的

[2022-08-29 07:31] ChaoII opened #168 "多进程任务报错"
fastdeploy人脸识别python部署，采用多进程进行人脸特征提取及人脸比对，实现通过主进程开启摄像头，获取帧，裁剪人脸roi存到Queue中，识别进程从Queue中获取人脸数据最后报错。
核心代码如下：
<img width="624" alt="image" src="https://user-images.githubusercontent.com/44053467/187147584-67e0fd59-ed80-4a98-87f2-f978dcbe4055.png">
报错代码：
[ERROR] csrc/fastdeploy/pybind/main.cc(94)::NumpyDataTypeToOpenCvType	NumpyDataTypeToOpenCvType() only support int32/int8/uint8/float32 now.

ps：目前fas

[2022-08-29 08:26] DefTruth commented on #168
能给下复现的示例代码吗？

现在是如果单进程可以跑，但是改成多进程就不行是吗？同时建议也试下在上图中的`predict`前，将`cur_face`打印出来看下数据是否合法

[2022-08-30 00:40] ChaoII commented on #168
好的，发您邮箱，麻烦您提供一下邮箱

[2022-08-30 07:14] jiangjiajun commented on #168
发到jiangjiajun@baidu.com

[2022-08-30 08:41] l7518597 commented on #147
给个建议:FastDeploy是岐路. 还是大力发展lite.ai.toolkit吧

[2022-08-30 08:54] ChaoII commented on #168
已经发了，麻烦帮忙看下

[2022-08-31 03:09] blueicesir opened #180 "python 3.10 for windows 64bit的版本的whl安装包,谢谢!"
不知道合适方便编译一个 python 3.10 for windows 64bit的版本的whl安装包,谢谢!

[2022-08-31 03:29] DefTruth commented on #180
请问您是希望使用cpu版本的包还是gpu版本的呢？

[2022-08-31 09:52] DefTruth commented on #168
您好，请问您的测试环境是什么呢？另外就是，单进程的时候是正常的吗？
- 操作系统/硬件: Windows 10 |  Windows 11 | Linux | Mac OSX Intel | Mac OSX M1 |  ...
- python版本：3.8 | 3.9 | ...
- fastdeploy版本: cpu | gpu
- 是否为anaconda环境: 是 | 否
- 详细的报错信息：log

[2022-08-31 09:58] ChaoII commented on #168
操作系统:MacOS Monterey intel 八代i5
python：3.8
fastdeploy：cpu
anaconda：是
详细报错信息：无（就是最开始的error我看是c++ pybind11 类型判断那里的错误）
单进程正常，但是人脸检测换位scrfd后就报错。
目前python cpu推理支持多线程加速么？（非多进程）

[2022-08-31 09:58] DefTruth commented on #168
另外就是人脸检测换成scrfd之后报错的信息是啥呢

[2022-08-31 10:00] ChaoII commented on #168
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/44053467/187652989-09e97b6b-b1a4-49cb-8f9b-075acec42b2c.png">

[2022-08-31 10:06] DefTruth commented on #168
这个应该是由于你的用模型时不带关键点的，需要设置use_kps=False，以及landmarks_per_face=0
[code]
具体可以参考SCRFD使用文档中的可设置参数说明：
- [SCRFD使用文档-可设置参数说明](https://github.com/PaddlePaddle/FastDeploy/tree/develop/examples/vision/facedet/scrfd/python#%E9%A2%84%E5%A4%84%E7%90%86%E5%8F%82%E6%95%B0)

[2022-08-31 10:09] DefTruth commented on #168
由于python gil的存在，多线程加速可能需要进一步测试下

[2022-09-01 00:53] ChaoII commented on #168
好的，谢谢！scrfd可以用了

[2022-09-01 08:28] populustremble commented on #4
有没有关于硬解码的交流群啊

[2022-09-05 05:50] sctrueew commented on #138
@DefTruth Hi,

any news?

[2022-09-05 06:16] DefTruth commented on #138
This will release via next version (v0.3.0) of FastDeploy. By the way, what do you think is the advantage of YOLOV5-CLS over other classification models ？

[2022-09-05 06:41] sctrueew commented on #138
Thank you. In my opinion, it's easy to train and use all PyTorch models, such as EfficientNetV2 and others

[2022-09-05 07:28] DefTruth commented on #138
Thanks for your recommendation, !!! yolov5-cls is already in our support plan ~

[2022-09-05 09:24] #4 closed

[2022-09-07 05:54] kc-w opened #199 "ocr的demo编译后代码报错"
![image](https://user-images.githubusercontent.com/39193398/188798450-8a382d68-459d-40ab-8164-1098a86636c3.png)
ocr的PPOCRSystemv3编译完成后打开出现上述错误,其他demo比如classification可以正常Release生成infer_demo.exe,是否完成ocr的支持?

[2022-09-07 06:22] jiangjiajun commented on #199
你好，能截一下全部的错误信息吗，是出现"Failed to initalize det_model"这行日志吗？

也可同时加入微信群，更快实时与工程师交流
 <img src=https://user-images.githubusercontent.com/19339784/188805172-0ce483a6-08aa-460d-b5f5-7ad82ebaa401.png width = "300" height = "400" alt="图片名称" align=center />

[2022-09-07 07:04] kc-w commented on #199
编译完成后,打开文件代码下标变红

[2022-09-07 07:16] kc-w commented on #199
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	C2039	"ocr": 不是 "fastdeploy::vision" 的成员	infer_demo	E:\projectTest\FastDeploy-develop\examples\vision\ocr\PPOCRSystemv3\cpp\infer.cc	37

[2022-09-07 07:28] jiangjiajun commented on #199
这个的原因是OCR没在0.2的版本里面支持，你方便参考这个文档自行编译一个最新的fastdeploy吗

https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/compile/how_to_build_windows.md

[2022-09-07 09:14] kc-w commented on #199
谢谢,成功完成编译

[2022-09-07 09:14] #199 closed, assigned to yunyaoXYY

[2022-09-07 09:18] AI-Mart commented on #168
fastdeloy目前支持人脸姿态角的检测输出吗？

[2022-09-07 09:26] AI-Mart commented on #65
大概什么时候发布v0.3呢？

[2022-09-07 11:21] jiangjiajun commented on #65
请问下你在Jetson上部署是指用TensorRT部署吗？

[2022-09-08 07:15] NicoSaronAI opened #203 "The FastDeploy didn't compile with GPU, will force to use CPU."
[WARNING] csrc/fastdeploy/fastdeploy_runtime.cc(141)::fastdeploy::RuntimeOption::UseGpu The FastDeploy didn't compile with GPU, will force to use CPU.

[2022-09-08 08:40] xwang365 opened #206 "undefined reference to `cv::imwrite"
尝试跑C++ 推理示例 报错
gcc demo.cpp \
-I./FastDeploy/build/fastdeploy-0.0.3/include/ \
-I./FastDeploy/build/fastdeploy-0.0.3/third_libs/install/opencv/include/ \
-I./FastDeploy/build/third_libs/install/opencv/include/ \
-lfastdeploy \
-lopencv_core \
-lstdc++ \
-ldl \
-o demo.so \

/usr/bin/ld: /tmp/ccxAZsgp.o: in function `main':
demo.cpp:(.text+0x1b1): undefined reference to `cv::imread(cv::String const

[2022-09-08 11:06] jiangjiajun commented on #206
需要通过-L将lib路径加进来

建议参考example目录下的示例使用cmake

[2022-09-08 11:08] jiangjiajun commented on #203
Please download GPU wheel/library if you need to deploy your model on GPU, refer this document for more details https://github.com/PaddlePaddle/FastDeploy/tree/develop/docs/quick_start

[2022-09-09 00:55] ChaoII opened #212 "请问pr文档如何避免ci"

[2022-09-09 05:21] jiangjiajun commented on #212
现在所有PR都会默认触发ci，但不影响合入，感谢对FastDeploy的贡献！

[2022-09-09 07:24] monkeycc opened #213 "能否提供C#的DEMO和教程"
能否提供C#的DEMO和教程

[2022-09-09 07:25] ChaoII commented on #212
好的，谢谢！

[2022-09-09 07:25] #212 closed, assigned to nobody

[2022-09-09 07:36] monkeycc opened #215 "视觉模型部署没有实例分割吗"
视觉模型部署没有 实例分割 吗

[2022-09-09 08:23] xwang365 commented on #206
参考了：FastDeploy/examples/vision/classification/paddleclas/cpp/README.md 这里的例子，同样也遇到了问题：1. https://bj.bcebos.com/paddlehub/fastdeploy/libs/0.2.0/fastdeploy-linux-x64-gpu-0.2.0.tgz 地址失效，换成https://bj.bcebos.com/fastdeploy/release/cpp/fastdeploy-linux-x64-0.2.0.tgz 可以解决，2.跑 ./infer_demo ResNet50_vd_infer ILSVRC2012_val_00000010.jpeg 0 的时候 会报错./infer_demo: error while loading shared libraries: libpaddle

[2022-09-09 08:29] DefTruth commented on #215
正在集成，很快就可以使用了

[2022-09-09 08:46] leiqing1 commented on #213
FastDeploy 目前还不支持C#的Demo，在后期的计划中。
如果感兴趣，可以一起加入FastDeploy C#建设中来。

[2022-09-09 10:25] AI-Mart opened #216 "facedet和faceid咨询"
1、能否检测人脸的姿态角
2、能否做一个python和c++的检测和识别串起来的案例，比如输入一张图片，图片里面有多个人脸，能分别输出每个人脸的的坐标和每个人脸的向量，做一个整体的案例最大化的压缩预测的时间

[2022-09-09 10:37] DefTruth commented on #216
1. 关于人脸姿态角的模型，后续会陆续集成进来，比如FSANet等
2. 关于模型串联，这个后续会添加一些案例，也很欢迎开发者来贡献案例哈

[2022-09-09 10:57] jiangjiajun commented on #206
@xwang365 Hi，谢谢你的反馈，这页文档地址先前确实写错了，已修改。

Linux下编译生成二进制后，如果执行出现上面的问题，属于库没找到的问题，你可以试下把库加到LD_LIBRARY_PATH中执行
例如

[code]

通过如上方式，将FastDeploy中的库路径添加好，即可执行。

[2022-09-10 15:02] AI-Mart commented on #216
感谢回复，因为涉及到批量的预测，这个串联的效率应该有很多的点需要考虑，可以集成以下

[2022-09-14 02:35] qinlihaoWork opened #222 "在VS中使用C++接口报错"
**新手求助**
配置：win+VS 2019
按照教程，C++SDK成功运行后想通过C++接口来使用
(SDK参照Windows C++SDK教程实现)
使用教程中的代码(在Debug模式下)：
![image](https://user-images.githubusercontent.com/111327813/190044725-8182cb9c-ff48-404a-8a0a-05884a590c4a.png)

新建的项目没有配置目录，配置信息如下：
VC++包含目录
![image](https://user-images.githubusercontent.com/111327813/190044908-ec908580-9f2e-4fd3-ac8e-073459808f9b.png)

VC++库目录
![image](https://user-images.githubu

[2022-09-14 02:37] DefTruth commented on #222
感谢您的反馈，我们将尽快跟进这个问题 ~

[2022-09-14 13:15] AI-Mart opened #228 "C++ SDK在linux服务端部署，支持服务化部署吗？"
C++ SDK在linux服务端部署，支持服务化部署吗，服务端用C++服务化部署，客户端用python写，服务端和客户端通过rpc通信，这样能否支持？

[2022-09-14 13:23] jiangjiajun commented on #228
服务端的部署正在支持中，预计下个月会发布。

你当前有哪些模型的服务化部署需求吗？

[2022-09-14 13:32] AI-Mart commented on #228
人脸检测和识别，最好把人脸姿态角也加上，把检测和识别的模型串联也加上，如果支持C++服务化部署的话，我到时候尝试下，比对下和python，sdk部署的性能差异，客户端代码都是python编写的

[2022-09-14 13:34] AI-Mart commented on #228
目前c++ sdk的方式调用，是不是客户端的代码都需要用C++重新写一遍？

[2022-09-14 14:19] n3ry7 opened #229 "Compile with OpenVINO"
I am trying to run the \examples\runtime\python\infer_onnx_openvino.py on Windows 10

And I get the folowwing error:
[ERROR] csrc/fastdeploy/fastdeploy_runtime.cc(193)::fastdeploy::RuntimeOption::UseOpenVINOBackend       The FastDeploy didn't compile with OpenVINO.

How do I compile with OpenVINO backend?

[2022-09-14 14:44] jiangjiajun commented on #229
Hi， This require rebuild Fasdtdeploy， just follow this doc to build

https://www.github.com/PaddlePaddle/FastDeploy/tree/develop/docs%2Fdocs_en%2Fcompile%2Fhow_to_build_windows.md

but need to set ENABLE_OPENVINO_BACKEND=ON

[2022-09-14 15:20] monkeycc opened #230 "Python如何解决模型加密问题"
Python如何解决模型加密问题

训练出来的模型 不想给别人用

python可以加密成pyd文件  或者用nuitka打包编译

但是模型怎么办

[2022-09-14 16:19] monkeycc commented on #215
AttributeError: module 'fastdeploy.libs.fastdeploy_main.vision.detection' has no attribute 'MaskRCNN'

[code]

D:\Anaconda3\envs\fastdeploy\lib\site-packages\fastdeploy\vision\detection\ppdet\__init__.py
[code]
@DefTruth

[2022-09-14 16:52] n3ry7 commented on #229
Thanks!

I tried to follow this:

git clone https://github.com/PaddlePaddle/FastDeploy.git
cd FastDeploy && git checkout develop

set ENABLE_ORT_BACKEND=ON
set ENABLE_PADDLE_BACKEND=ON
set ENABLE_VISION=ON
set ENABLE_VISION_VISUALIZE=ON
set ENABLE_OPENVINO_BACKEND=ON

% 这里指定用户自己的python解释器 以python3.8为例 %
C:\Python38\python.exe setup.py build
C:\Python38\python.exe setup.py bdist_wheel

But there is

[2022-09-14 23:14] futureflsl opened #231 "有支持C#部署的打算吗"
有支持C#部署的打算吗

[2022-09-15 02:22] ZeyuChen commented on #231
有的，敬请期待。请问你们是什么业务场景需要C#部署呢

[2022-09-15 05:11] jiangjiajun commented on #215
这个需要依赖最新的FastDeploy，由于当前还没发布预编译库，请参考这个文档自行编译后使用 https://github.com/PaddlePaddle/FastDeploy/tree/develop/docs/compile

[2022-09-15 05:57] jiangjiajun commented on #228
你是指如果迁移到服务化部署吗？

如果是服务化部署，那所有的代码都运行在服务端，客户端发送请求和获取请求即可

[2022-09-15 06:28] monkeycc opened #235 "GPU编译报错 subprocess.CalledProcessError: Command '['D:\\Anaconda3\\Library\\bin\\cmake.exe', '--build', '.', '--config', 'Release', '--', '/maxcpucount:20']' returned non-zero exit status 1."
[code]

[2022-09-15 06:29] monkeycc commented on #215
`https://github.com/PaddlePaddle/FastDeploy/issues/235`

各种报错  放弃

等官方预编译库
@jiangjiajun

[2022-09-15 06:36] DefTruth commented on #235
先清空.setuptools-cmake-build的缓存，把TEXT关了再试试windows下的whl包编译：
[code]

[2022-09-15 07:11] monkeycc commented on #235
删除了.setuptools-cmake-build的缓存文件夹

虽然加入了
`set ENABLE_TEXT=OFF`
但是我看编译信息 还是开启的
--   ENABLE_TEXT               : ON

[code]

[2022-09-15 08:13] monkeycc opened #237 "让用户自己选择模型，vision应该一怎么判断"
让用户自己选择模型的文件夹

那么我应该怎么判断模型种类

然后判断 逻辑处理 对应的
[code]

是否增加一个判断模型种类的函数

[2022-09-15 08:20] ChaoII commented on #237
搞个枚举值，一个个枚举。

[2022-09-15 08:23] #213 closed, assigned to nobody

[2022-09-15 09:51] DefTruth commented on #237
可以考虑用python的isinstance进行判断：
[code]

[2022-09-15 11:34] n3ry7 commented on #229
I tried this:

git clone https://github.com/PaddlePaddle/FastDeploy.git
cd FastDeploy && git checkout develop

set ENABLE_ORT_BACKEND=ON
set ENABLE_PADDLE_BACKEND=ON
set ENABLE_VISION=ON
set ENABLE_VISION_VISUALIZE=ON

% 这里指定用户自己的python解释器 以python3.8为例 %
C:\Python38\python.exe setup.py build
C:\Python38\python.exe setup.py bdist_wheel

But there is no setup.py when the repo is clonned.

So I took

[2022-09-15 12:09] jiangjiajun commented on #229
It your windows win32 or x64?, currently only `x64` is supported.

If you need to build with python, just like enable other backend

[code]
and then `python setup.py build`, it will download openvino automatically.

By the way, you can pull the latest code of FastDeploy, clear the cache during building(directory `build` & `.setuptools-cmake-build`, then build fastdeploy again.

[2022-09-16 01:52] monkeycc commented on #231
建议增加C#部署

[2022-09-16 01:53] #154 closed, assigned to nobody

[2022-09-16 01:53] #237 closed, assigned to nobody

[2022-09-16 02:23] LiuPeiqiCN opened #241 "cmake 编译，第三方库冗余、冲突的问题"
我在自己编译FastDeploy时，发现很多third_party都是直接下载使用的，感觉这好像是贵司的传统？下载的预编译库还带了个OpenCV3和onnxruntime的动态链接库，然而我自己的环境已经安装了特定版本的OpenCV4，onnxruntime，yaml-cpp等，我却无法链接这些已经存在的库，很容易出现多版本、静动态库混用的问题。所以能否增加使用系统已安装库的编译选项？

[2022-09-16 02:59] DefTruth commented on #241
请问您比较关注哪些依赖库的可以定制化编译呢？

[2022-09-16 03:12] LiuPeiqiCN commented on #241
如果OpenCV、onnxruntime、yaml-cpp可以定制化编译就好了，其他的paddle2onnx和paddle_inference等paddle系的可以直接下载倒是蛮方便的。

[2022-09-16 04:44] ZhangLe-fighting opened #242 "RuntimeError: tensor type 0 is not supported"
按照教程替换模型与demo图片，如上述报错，如何修改输入呢？
模型是ppyoloe
输入是2k图

[2022-09-16 04:45] ZhangLe-fighting commented on #242
[ERROR] csrc/fastdeploy/backends/ort/utils.cc(30)::GetOrtDtype	Unrecognized fastdeply data type:FDDataType::UINT8.
Traceback (most recent call last):
  File "main.py", line 9, in <module>
    result = model.predict(im.copy())
  File "/home/hik/anaconda3/envs/paddle_pkg/lib/python3.6/site-packages/fastdeploy/vision/detection/ppdet/__init__.py", line 38, in predict
    return self._model.predict(inp

[2022-09-16 04:46] ZhangLe-fighting commented on #242
测试如下：
1 import cv2
  2 import fastdeploy.vision as vision
  3
  4
  5 model = vision.detection.PPYOLOE("m/model.pdmodel",
  6                                  "m/model.pdiparams",
  7                                  "m/infer_cfg.yml")
  8 im = cv2.imread("Images/1.jpg")
  9 result = model.predict(im.copy())
 10 print(result)
 11
 12 vis_im = vision.vis_detection(im, result, score_threshold=0.5)

[2022-09-16 05:02] jiangjiajun commented on #242
你好，方便提供一下你的模型吗？这个问题正在修复中，预计今下午发版的0.2.1版本就可以支持

[2022-09-16 05:45] ZhangLe-fighting commented on #242
十分抱歉，模型涉及到公司项目，是不能提供的，
模型是使用PaddleDetection_YOLOSeries/configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml这个配置训练的

[2022-09-16 07:33] jiangjiajun commented on #242
@ZhangLe-fighting 在导出模型时，是有额外将归一化集成到模型里面了吗？

[2022-09-16 08:24] ZhangLe-fighting commented on #242
python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml -o weights=output/ppyoloe_crn_l_300e_coco/best_model.pdparams

这个是我导出模型时，运行的指令

[2022-09-16 09:25] jiangjiajun commented on #242
@ZhangLe-fighting  试下先卸载现有的fastdeploy

安装下0.2.1版本的fastdeploy，下载链接如下

- CPU版本： https://bj.bcebos.com/fastdeploy/dev/wheels/fastdeploy_python-0.2.1-cp36-cp36m-manylinux1_x86_64.whl
- GPU版本： https://bj.bcebos.com/fastdeploy/dev/wheels/fastdeploy_gpu_python-0.2.1-cp36-cp36m-manylinux1_x86_64.whl

麻烦测试后反馈下哈

[2022-09-16 13:22] futureflsl opened #246 "这个源码能在cuda10.2+cudnn7.6.5上进行编译吗"
我在windows10 x64用VS2019+cuda10.2+cudnn7.6.5编译总出错

[2022-09-16 14:45] sctrueew commented on #138
@DefTruth Hi, Yolov5-Seg just released and also please support that.

Thanks in advance!

[2022-09-16 15:19] jiangjiajun commented on #246
当前仅适配了cuda 11, cudnn8。 在cuda10上编译不兼容

[2022-09-16 15:28] jiangjiajun commented on #241
@liupeiqiHN 感谢你的使用反馈。 在先前引入第三方库时，为了简化编译过程，因为对部分库采用了自动下载的方式。 但你上面提到的“增加已安装库编译选项”这个确实需要考虑。 我们争取在0.3版本完成编译体验的优化。

[2022-09-19 03:19] ChaoII opened #252 "无法关闭运行日志"
使用`option.DisablePaddleLogInfo();`无法关闭`[INFO]`日志。
比如加载模型时：
[code]

[2022-09-19 03:46] ZhangLe-fighting commented on #242
您好，该问题已修复，现在可以正常使用，但是我现在想把结果按照列表的形式返回文本并存储，只能自己处理输出的结果嘛？

[2022-09-19 03:47] ZhangLe-fighting commented on #242
有没有关于fastdeploy的相关api函数的说明呀

[2022-09-19 05:07] jiangjiajun commented on #242
具体可以查看每个模型对应的api说明， example/vision/detection/paddledetection/python和cpp目录下的README分别有其python/api说明

[2022-09-20 02:38] joey12300 commented on #235
@monkeycc 你好，目前已经更新了ENABLE_TEXT=ON的依赖库了，辛苦先清空.setuptools-cmake-build的缓存，拉一下最新代码，再重新编译试试

[2022-09-20 13:11] ZhangLe-fighting commented on #242
问一下，现在支持GPU推理嘛，我设置了一下没成功诶

[2022-09-21 02:22] jiangjiajun commented on #242
支持，注意安装GPU的包， 参考项目Readme里面的安装说明。

如若已经安装了cpu的包，请注意先卸载

[2022-09-21 13:33] ZhangLe-fighting commented on #242
您好：
python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml -o weights=output/ppyoloe_crn_l_300e_coco/best_model.pdparams

RuntimeError: /onnxruntime_src/onnxruntime/core/providers/cuda/cuda_call.cc:122 bool onnxruntime::CudaCall(ERRTYPE, const char*, const char*, ERRTYPE, const char*) [with ERRTYPE = cudaError; bool THRW = true] /onnxruntime_src/onnxruntime/core/providers/cuda

[2022-09-22 00:46] jiangjiajun commented on #242
Hi，请问能跑Tensort吗，当前看是ONNX Runtim报错了

[2022-09-22 04:15] ZhangLe-fighting commented on #242
我刚入门...不太懂，Tensort和CUDA是平行的库嘛，就是使用Tensort可以避免CUDA版本不一致的问题嘛？

[2022-09-22 04:25] ZhangLe-fighting commented on #242
我打包环境的cuda版本是11.2，使用了当前这个套件，目前部署的环境cuda版本是10.1，问一下这是不是报错的主要原因呢？

[2022-09-22 04:34] DefTruth commented on #242
应该是的，部署环境的CUDA版本是需要和您编译时的保持一致的。

[2022-09-22 08:45] ZhangLe-fighting commented on #242
如果使用这个套件的话，只能升级部署环境嘛？
这个套件支持CUDA10.1嘛？因为我这边可能没办法升级部署环境

[2022-09-22 09:02] ZhangLe-fighting commented on #242
官方能发布支持多个CUDA版本的套件不 ？。？

[2022-09-22 09:15] jiangjiajun opened #269 "TensorRT cache file loading error on Windows"
![image](https://user-images.githubusercontent.com/19339784/191708183-e55e5d99-b464-4c30-9644-27d39b3d0fb1.png)

[2022-09-22 09:15] qinlihaoWork commented on #222
反复检查后，发现是dll配置问题，已解决。

[2022-09-22 09:15] #222 closed, assigned to DefTruth

[2022-09-22 12:38] ZhangLe-fighting commented on #242
官方您好，问一下能否发布一个支持CUDA10.1的分支，部署端环境没办法升级呜呜呜

[2022-09-22 12:46] jiangjiajun commented on #242
如果你只是需要TensorRT部署，可以自行编译FastDeploy。 当前Cuda 10.1上只能支持TensorRT

[2022-09-22 13:50] DefTruth commented on #269
cache反序列化问题已经修复。另外经排查，用户的测试代码中指针的用法会导致无法预测，需要进行修改。
[code]
首次运行会保存cache文件，log如下
[code]
第二次及之后运行，直接从cache中加载，加快初始化
[code]

[2022-09-24 05:22] ZhangLe-fighting commented on #242
我去TensorRT官网看了一下，没有找到CUDA10.1对应的发行版本，请问需要下载哪个版本呢？

[2022-09-24 05:27] ZhangLe-fighting commented on #246
问一下，目前有计划支持CUDA10.1嘛，我这边需要部署的硬件都是CUDA10.1的，而且应该设备没有升级的计划

[2022-09-24 06:25] jiangjiajun commented on #242
下载10.2对应的即可

[2022-09-24 06:47] LiuPeiqiCN commented on #241
不支持静态静态编译
https://github.com/PaddlePaddle/FastDeploy/blob/e4eff9f9b549dea789ee831043d088d564b9d175/fastdeploy/utils/utils.h#L26
[code]

[2022-09-26 03:10] ZhangLe-fighting commented on #242
麻烦您提供一下python编译选项的设置...

[2022-09-26 03:30] jiangjiajun commented on #242
[code]

[2022-09-26 10:05] 1316540491 commented on #231
强烈建议增加C#部署，工业C#用的比较多

[2022-09-26 14:35] ZhangLe-fighting commented on #242
环境搞了一天没搞好，555555555555555
打算明天用 paddleinference 部署试一下...

[2022-09-26 14:39] jiangjiajun commented on #242
方便的话，可以加我们微信群，了解下你具体遇到啥问题

[2022-09-27 02:56] ZhangLe-fighting commented on #242
InvalidArgumentError: The type of data we are trying to retrieve does not match the type of data currently contained in the container.
      [Hint: Expected dtype() == paddle::experimental::CppTypeToDataType<T>::Type(), but received dtype():10 != paddle::experimental::CppTypeToDataType<T>::Type():12.] (at /paddle/paddle/phi/core/dense_tensor.cc:137)
      [operator < elementwise_mul > error]

使用pa

[2022-09-27 03:04] ZhangLe-fighting commented on #242
好滴

[2022-09-27 10:37] ZhangLe-fighting commented on #242
CMake Error at CMakeLists.txt:281 (find_package):
  By not providing "FindOpenCV.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "OpenCV", but
  CMake did not find one.

  Could not find a package configuration file provided by "OpenCV" with any
  of the following names:

    OpenCVConfig.cmake
    opencv-config.cmake

  Add the installat

[2022-09-27 10:50] jiangjiajun commented on #242
<img width="310" alt="image" src="https://user-images.githubusercontent.com/19339784/192506650-909ec3f6-6b82-4c7f-9e26-1ce8fb6209d0.png">
加入这个微信群在线沟通哈

[2022-09-27 10:51] ZhangLe-fighting commented on #242
加了...没人回答我的问题呀

[2022-09-27 10:52] jiangjiajun commented on #242
在群里找到我头像，直接加我吧

[2022-09-29 09:33] netwu opened #307 "RuntimeError: FastDeploy initalized failed!"
硬件：Mac m1
版本：fastdeploy-python  0.2.1
安装方式：pip install numpy opencv-python fastdeploy-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html
运行demo： python infer.py --model Unet_cityscapes_without_argmax_infer --image cityscapes_demo.png --device cpu
报错：

Traceback (most recent call last):
  File "/opt/miniconda3/envs/py39/lib/python3.9/site-packages/fastdeploy/c_lib_wrap.py", line 154, in

[2022-09-30 03:52] gglin001 opened #310 "issues from wechat, about paddle serving"
hi, 这里记录了一些 在微信群里的问题, 主要涉及到 FastDeploy 和 paddleserving 两个库相关的问题, 可能放在这里更合适一点, 可以让更多的人看到, 希望可以解答一下, 感谢🙏

- 问一下，fastdeploy 跟 paddle serving 区别是什么;

- paddle serving 的开发似乎不太活跃了, 请问长期来看还会继续支持吗? 还是完全用 fastdeploy  替代?

- 它(指FastDeploy)比 padddle serving 优势在哪里，方便，安全，速度 还是互补的关系

[2022-09-30 04:33] ChaoII commented on #310
1、首先paddlepaddle  servering 主要是针对服务化部署，并且推理后端应该是paddle_infer。
2、fastdeploy，包含不同的推理后端（ort、openvnio，pp_infer，trt，paddle-lite）不同后端针对不同硬件平台的优化方向不同，也会支持服务化部署。
3、fd包含部署场景（终端部署、服务部署）。

[2022-10-03 21:16] MyraBaba opened #318 "Quantization model deploy on GPU"
I have below error. model downloaded from your exported ones:

with cache or without cache enabled same error.

[2022-10-04 03:09] DefTruth commented on #318
Please check the docs of YOLOv7End2EndORT:
- [vision/detection/yolov7end2end_ort](https://github.com/PaddlePaddle/FastDeploy/tree/develop/examples/vision/detection/yolov7end2end_ort)

This class does not support TRT backend. To support TRT::EfficientNMS_TRT op, you should use YOLOv7End2EndTRT, please refer to:

- [vision/detection/yolov7end2end_trt](https://github.com/PaddlePaddle/FastDeploy/tree/

[2022-10-04 11:19] MyraBaba commented on #318
@DefTruth  Thanks I noticed the problem.

Another interesting thing that I quantize of the exported to onnx (small object detection / visdrone paddle) and its succesfully QUint8 and inferencin.

Problem is qunatized onnx much more slower than the orignal fp32.. 10 times.

Meanwhile I will give a shot to int8 chip (hailo-8)
To export onnx some converter asks for calibration images as in
[weights=ht

[2022-10-05 02:41] jiangjiajun commented on #318
Inference with CPU or GPU while you use the quantized onnx model?

[2022-10-06 13:04] xinsuinizhuan opened #321 "二次开发，使用FastDeploy作为依赖库，封装dll后，很多接口都没法使用问题，麻烦跟踪排查一下。"
- 环境：
[code]
- 问题：
调用ppyoloe，yolov7和maskrcnn,ocr，均是在example下正常，但是封装dll后均报错
yolov7和ppyoloe是模型无法生成trt文件，maskrcnn是，cpu gpu和trt都崩溃，cpu和gpu模式初始化成功，predict崩溃;
以ppyoloe为例：
封装dll代码：

- .h文件：

[code]

- .cpp文件
[code]

控制台调用程序：

[code]

接口设置了SetTrtCacheFile(trtpath_file);，并且模型初始化成功了fastdeploy::vision::detection::PPYOLOE和model.Initialized()均返回正常，但是没有生成trt文件：
[code]
返回了-3

[2022-10-06 13:11] DefTruth commented on #321
好的，已经收到您的问题，我们节后会安排同学跟进这个问题哈 ~

[2022-10-07 07:32] xinsuinizhuan opened #322 "自训练PP_LiteSeg模型，模型导出后，使用FD推理，基本没效果。"
使用PP_LiteSeg训练模型：
训练命令：
python export.py  --config configs/quick_start/pp_liteseg_optic_disc_512x512_1k.yml --model_path output/iter_10000/model.pdparams --save_dir output --input_shape 1 3 512 512

训练完后，使用python测试效果：
![图片](https://user-images.githubusercontent.com/40679769/194497348-c34e5c75-42c9-4647-9dd7-eaff09cf7506.png)
效果还可以。

模型导出：
python export.py  --config configs/quick_start/pp_liteseg_o

[2022-10-07 08:12] jiangjiajun commented on #322
@felixhjh

[2022-10-07 08:13] jiangjiajun opened #323 "OCR部署，初始化判断问题"
![image](https://user-images.githubusercontent.com/19339784/194505773-2e8cbc95-5156-4bdb-a0b0-c2f895a5d6fb.png)

此外，OCR中模型的预处理需说明清楚。 如若模型由PaddleOCR导出，或下载，需对哪几个模型做怎样的处理操作

@yunyaoXYY

[2022-10-07 08:47] DefTruth commented on #321
您好，根据您提供的代码，我这边的测试情况如下：
- 测试环境：windows 11, vs2019, 3080 Ti 16G
- 测试方式：基于FD二次开发新的DLL，基于二次开发的DLL再次开发新的应用程序
- 测试模型：ppyoloe, yolov7, ocr v3, maskrcnn
- 测试描述：基于 @xinsuinizhuan  提供的sln工程，直接打开编译新的DLL，修改了部分有问题的代码；基于新的DLL，编译可执行文件；
- 模型文件：所有模型及图片均从FD仓库下载，视频文件为刘先生提供
- 测试结果：
  - 1. ppyoloe, yolov7, ocr v3 在TRT+FP16下均正常推理
  - 2. maskrcnn在GPU+Paddle模式下视频推理正常跑，显存占用约13G，和视频分辨率有关
  - 3. 发现一个bug: ocr v3 system的Init

[2022-10-07 09:23] felixhjh commented on #322
方便给一张上面的原图吗？ 我自测一下

[2022-10-07 14:43] leiqing1 commented on #322
@xinsuinizhuan 看上下两张图，图像的通道顺序不太对？（GRB/BGR）

[2022-10-08 05:43] kc-w opened #325 "想问下关于openvino的核显推理加速大概什么时候添加支持?"

[2022-10-08 07:06] felixhjh commented on #322
PaddleSeg官方库，predict.py 使用pp_liteseg_optic_disc_512x512_1k.yml并没有进行crop然后预测的操作，因此这边导出模型也可以不指定--input_shape

[2022-10-08 07:07] felixhjh commented on #322
导出模型的时候 指定--input_shape可以支持包括ONNXRuntime/TensorRT的推理，同时可以减少推理时的显存消耗（2048的图会被缩放到512再推理，结果再会放大回来），但是会降低一些精度。  不指定--input_shape目前则只能支持Paddle Inference推理

[2022-10-08 10:15] rattling opened #329 "Will Text Detection Using PP-OCR Be Made Available for Server Side Deployment?"
I was hoping to do a light deployment of text detection on a Linux server using FastDeploy in Python.

However, PP-OCR and later versions aren't listed in the supported model list for server side deployment.

I have tried to import it in any case along the lines of the tutorial for PPYOLOE but not sure how to pass the required det_model and cls_model parameters. I presume there isn't a way of doin

[2022-10-08 11:19] heliqi commented on #228
@AI-Mart
不需要。 客户端支持使用python发送grpc或http请求

[2022-10-08 11:41] yunyaoXYY commented on #329
Hello,
1) PP-OCR series are supported in FastDeploy now, see examples as https://github.com/PaddlePaddle/FastDeploy/tree/develop/examples/vision/ocr/PPOCRSystemv3
You could deploy the models on your Linux server.

2)BTW, I'm not very clear about the "server side deployment" mentioned in your questions, do you mean that you want to deploy the PP-OCR models in server system?(Like TensorFlow-serving/

[2022-10-08 11:42] yunyaoXYY commented on #329
Hello,

1.PP-OCR series are supported in FastDeploy now, see examples as https://github.com/PaddlePaddle/FastDeploy/tree/develop/examples/vision/ocr/PP-OCRv3
You could deploy the models on your Linux server.

2.BTW, I'm not very clear about the "server side deployment" mentioned in your questions, do you mean that you want to deploy the PP-OCR models in server system?(Like TensorFlow-serving/ Trit

[2022-10-08 12:42] ChaoII opened #330 "新模型咨询"
请问一下，FD后期是否有对paddledetection 危险行为识别等pipeline部署的支持，还有paddlecls中的物品识别？目前有需求做异常行为识别，人/车辆属性分析等等。谢谢

[2022-10-08 13:40] jiangjiajun commented on #330
有没有兴趣一起来做？

[2022-10-08 13:45] ChaoII commented on #330
有兴趣，不过目前没接触过，需要研究研究怎么玩的。

[2022-10-08 13:51] jiangjiajun commented on #330
在微信交流群里找到我的头像（应该在群成员前几位），加我私聊哈

[2022-10-08 13:52] #330 closed, assigned to nobody

[2022-10-08 18:47] rattling commented on #329
Hi there,
I got it working from your example, swapping the detection/recognition models for the English ones.  It works great.  As for server side, I only meant that deploying on Linux rather than on mobile devices.

This is very useful as a full paddlepaddle installation was in conflict due to OS on my deployed application.  FastDeploy is a great way to reduce the deployment footprint.

Happy to

[2022-10-08 18:47] #329 closed, assigned to yunyaoXYY

[2022-10-09 00:52] datalee commented on #6
这个只是针对图像类的模型吗？
NLP类的能用不？

[2022-10-09 01:47] jiangjiajun commented on #325
当前还没机型可以测试，你有自己添加测试过吗？

[2022-10-09 02:20] #322 closed, assigned to nobody

[2022-10-09 02:28] yunyaoXYY commented on #329
Hello John,

Great! Good to know it works for you!

FastDeploy does not have channels in Discord or Slack for now.
I was meant to give my personal support for you on Discord/Slack yesterday.

Best regards,
Yunyao

[2022-10-09 02:28] yunyaoXYY commented on #329
Hello John,

Great! Good to know it works for you!

FastDeploy does not have channels in Discord or Slack for now.
I was meant to give my personal support for you on Discord/Slack yesterday.

Best regards,
Yunyao

[2022-10-09 03:14] yunyaoXYY commented on #323
1. 模型预处理问题已提PR，在"Add Initialize function to PP-OCR"里. (后续PaddleOCR完全更新模型库后，这部分readme就不需要了）

2.PP-OCR初始化功能已提PR https://github.com/PaddlePaddle/FastDeploy/pull/326

[2022-10-09 08:45] leiqing1 commented on #329
@rattling hi welcome to FastDeploy Slack and share it with friends if in need https://join.slack.com/t/fastdeployworkspace/shared_invite/zt-1hhvpb279-iw2pNPwrDaMBQ5OQhO3Siw

[2022-10-09 10:56] #323 closed, assigned to nobody

[2022-10-09 13:38] #310 closed, assigned to nobody

[2022-10-09 14:31] leiqing1 commented on #24
@purplesystems  hi welcome to FastDeploy Slack and share it with friends if in need https://join.slack.com/t/fastdeployworkspace/shared_invite/zt-1hhvpb279-iw2pNPwrDaMBQ5OQhO3Siw

[2022-10-09 14:54] steven-vvv commented on #269
![image](https://user-images.githubusercontent.com/76638078/194763342-01134461-9c32-4b90-b9d2-d798e8b51e02.png)
我遇到了相似的错误，问题似乎依旧存在？

此外，检查了trt_backend.cc文件，之前的pull #274 已被合并。
![image](https://user-images.githubusercontent.com/76638078/194763715-5e660348-4d21-4843-8b03-5b6f98fd54c5.png)

[2022-10-10 06:43] kc-w commented on #325
我把这改成gpu了没用,会报错,你们的openvino和官网上的openvino不一样呀,core.hpp文件里的内容都不同
![image](https://user-images.githubusercontent.com/39193398/194810206-c08f882d-8f34-4a81-90c5-f1b82eb59afc.png)

[2022-10-10 07:32] jiangjiajun commented on #325
你可以下载官网的OpenVINO来编译FastDeploy，编译时通过OPENVINO_DIRECTORY来指定下载的目录即可。 目前FastDeploy在Linux平台自动下载的版本，只包含CPU

[2022-10-10 11:13] kc-w commented on #325
我在win10重新编译编译了下,还是不行

[2022-10-10 11:17] kc-w commented on #325
我编译的平台就是win10,不是linux

[2022-10-10 11:40] MyraBaba commented on #318
@jiangjiajun  inferencing with GPU 2080Ti

[2022-10-10 11:50] jiangjiajun commented on #318
Which tool you are using to quantize your onnx model?

[2022-10-10 11:53] MyraBaba commented on #318
@jiangjiajun
onnx:
[code]

[2022-10-10 12:12] jiangjiajun commented on #318
This quant tool is not supported by TensorRT now, Refer this doc https://onnxruntime.ai/docs/performance/quantization.html#quantization-on-gpu

[2022-10-10 12:30] yunyaoXYY commented on #318
Hi, FastDeploy will provide the tools to quantize model, which could suit deployment on FastDeploy better.  See current tutorials as : https://github.com/PaddlePaddle/FastDeploy/tree/develop/tools/quantization.  And we will release the examples about how to deploy INT8 models (YOLO series) on FastDeploy in tow days.

What model do you want to quantize and deploy on FastDeploy? We would give you su

[2022-10-10 12:54] MyraBaba commented on #318
@jiangjiajun

The model is : [https://paddledet.bj.bcebos.com/models/ppyoloe_crn_l_80e_sliced_visdrone_640_025.pdparams](https://github.com/hailo-ai/hailo_model_zoo)

We have a competition for a huge project for object detection as in above model exactly. But we need to achieve 100fps minimum on the Xavier NX at 640x480 px.

Accuracy is perfect for above model. Neet to speed up and achive the perf

[2022-10-10 13:27] yunyaoXYY commented on #318
We have tried to quantize ppyoloe_crn_l_300e_coco, and it works well on FastDeploy.
Maybe we could help you, how about join our Slack channel for further support?  link: https://fastdeployworkspace.slack.com/ssb/redirect

[2022-10-10 14:05] MyraBaba commented on #318
@yunyaoXYY
I will join.

any speed improvement.

[2022-10-10 14:10] MyraBaba commented on #318
@yunyaoXYY did you tried ppyoloe_crn_l_80e_sliced_visdrone_640_025 ? any speedup ?

[2022-10-10 14:12] MyraBaba commented on #318
@yunyaoXYY I need and invitation to join Slack

[2022-10-10 14:26] yunyaoXYY commented on #318
HI, please try this.

https://join.slack.com/t/fastdeployworkspace/shared_invite/zt-1hm4rrdqs-RZEm6_EAanuwEVZ8EJsG~g

[2022-10-11 04:08] Zheng-Bicheng commented on #307
Paddle Backend好像暂时不支持M1 MACOS ，我M1 MacbookPro本地编译python包的时候提示如下:
[code]

[2022-10-11 05:13] jiangjiajun commented on #325
试下重新编译FastDeploy，通过-DOPENVINO_DIRECTORY指定到你自己下载的OpenVINO路径

[2022-10-11 08:10] kc-w commented on #325
我指定的-DOPENVINO_DIRECTORY目录好像没效果,还是会去下载然后用下载后的openvino,我后来手动把自动下载后的openvino内容替换成我自己下载的openvino,编译之后还是会在下面的位置报错
![](https://user-images.githubusercontent.com/39193398/194810206-c08f882d-8f34-4a81-90c5-f1b82eb59afc.png)

cmake .. -G "Visual Studio 16 2019" -A x64 -DENABLE_OPENVINO_BACKEND=ON -DENABLE_TRT_BACKEND=ON -DENABLE_VISION=ON -DENABLE_VISION_VISUALIZE=ON -DWITH_GPU=ON -DTRT_DIRECTORY="D:\Tens

[2022-10-11 08:16] jiangjiajun commented on #325
指定了仍然会下载吗，那不太合理，@joey12300 看下？

[2022-10-11 08:24] MyraBaba commented on #318
Inferencing both, an slow.. GPU 10 times CPU 1,5 times

[2022-10-11 09:48] Zheng-Bicheng opened #344 "新增代码编译后，链接时出现问题"
我新增了rknpu的代码，在编译环节已经加入一起编译了
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/58363586/195056680-0d034cf9-459a-41cb-849e-f8d7b6e32a64.png">

但是当编译完成后，我的测试文件引用fastdeploy库时却出现未定义的情况
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/58363586/195056894-b91aaa1b-7094-4523-a9c3-b187dcc6556b.png">

fastdeploy::RKNPU2Backend::GetSDKAndDeviceVersion()是在

[2022-10-12 04:00] #344 closed, assigned to nobody

[2022-10-12 12:12] lucasjinreal opened #356 "{"code":"NoSuchKey","message":"The specified key does not exist.","requestId":"1e32ec72-7aed-48f4-b466-c2fcc5fb158e"}"
Please using git, rather than BCE....

[2022-10-12 12:29] jiangjiajun commented on #356
Hi, Do you mean you cannot download the files stored on bce server?

[2022-10-12 12:34] lucasjinreal commented on #356
https://bj.bcebos.com/fastdeploy/third_libs/paddle2onnx-osx-arm64-1.0.1.tgz

can u pelase open it

[2022-10-12 12:41] jiangjiajun commented on #356
This file is not on the server, we will upload it, please rebuild the code in half hours, sorry for the bug.

Or you can modify`FastDeploy/cmake/paddle2onnx.cmake`, change `VERSION` from `1.0.1` to `1.0.1rc`

[2022-10-12 13:07] jiangjiajun commented on #356
@jinfagang Hi, the file is uploaded now, if there's any problem, please comment on this issue

[2022-10-12 15:48] joey12300 commented on #325
@kc-w 您好，我下面的PR修复了指定路径仍然自动下载OpenVINO的bug，您拉一下最新代码，把之前编译缓存的文件清空重新编译一下试试。  https://github.com/PaddlePaddle/FastDeploy/pull/348

[2022-10-13 01:24] A1exy opened #358 "3D Object Detection什么时候可以支持"
请问3D Object Detection计划什么时候可以支持

[2022-10-13 03:52] kc-w commented on #325
自动下载的问题已解决

[2022-10-13 03:53] kc-w commented on #325
@joey12300 自动下载的问题已解决

[2022-10-13 08:32] jiangjiajun commented on #358
Hi, @A1exy 你有哪个模型的需求呢？

[2022-10-13 08:58] A1exy commented on #358
@jiangjiajun  单目3D的都可以，比如SMOKE等，短期内有计划支持不

[2022-10-13 08:59] A1exy commented on #358
我看你们列出来要支持3D目标检测

[2022-10-13 09:00] richjjj opened #360 "serving部署，设置tensorrt推理引擎无效"
镜像是paddlepaddle/fastdeploy:0.3.0-gpu-cuda11.4-trt8.4-21.10

![image](https://user-images.githubusercontent.com/37280580/195551974-5ea80b55-1619-49ad-a2b5-1f1ce08a8b0a.png)
![image](https://user-images.githubusercontent.com/37280580/195552332-e3d9dc85-7d7e-463f-b048-29e6411e1edb.png)

[2022-10-13 09:23] publicforlijun opened #361 "【已支持】RobustVideoMatting是否支持"
Matting模型部署C++ SDK没看到对RobustVideoMatting的支持呐

[2022-10-13 09:30] publicforlijun opened #362 "Windows GPU环境下使用，提示cudnn64_8.dll异常"
![Untitled](https://user-images.githubusercontent.com/37092245/195559567-64fdb5a8-3535-48c6-a6ea-1586ed62aa85.png)

[2022-10-13 09:31] publicforlijun commented on #362
显卡是NVIDIA GeForce GTX 1660 SUPER

[2022-10-13 09:45] publicforlijun commented on #362
CUDA   v11.8
cudnn-windows-x86_64-8.6.0.163_cuda11-archive

[2022-10-13 10:14] jiangjiajun commented on #361
正在支持中，预计下周

[2022-10-13 13:04] heliqi commented on #360
配置有换成GPU吗？ TensorRT只能跑在GPU上， 比如配置改成如下:

instance_group [
  {
      count: 1
      kind: KIND_GPU
      gpus:[0]
  }
]

runtime的config配置可以参照这个文档，有详细介绍: https://github.com/PaddlePaddle/FastDeploy/blob/develop/serving/docs/zh_CN/model_configuration.md

[2022-10-13 14:40] richjjj commented on #360
有的，输出日志是 Backend::ORT in Device::GPU

[2022-10-13 16:00] jiangjiajun commented on #362
看这个错误像是没有找到cudnn, 有配置环境变量吗？

[2022-10-14 02:22] DefTruth commented on #362
@publicforlijun 有详细的log吗，看看具体是啥问题

[2022-10-14 02:24] publicforlijun commented on #362
报错出现在cudnn64_8.dll里面
![Untitled](https://user-images.githubusercontent.com/37092245/195747528-e4675b9b-94f2-4b43-9528-3687042aa9a6.png)
从进程加载DLL来看,有3个cudnn开头的,应该不是环境问题吧

[2022-10-14 02:26] DefTruth commented on #362
目前我们还没有在 cuda 11.8 + cudnn 8.6.x 这种最新的配置上测试过，应该是cuda最近更新了版本，我们先尝试下复现您的问题哈

[2022-10-14 02:30] publicforlijun commented on #362
![Uploading Untitled.png…]()

提示zlibwapi.dll找不到，这个是干嘛用的？

[2022-10-14 02:31] publicforlijun commented on #362
提示zlibwapi.dll找不到，这个是干嘛用的？

[2022-10-14 02:44] publicforlijun commented on #362
zlibwapi.dll 缺失导致的报错.找到对应zlip资源问题修正

[2022-10-14 02:44] #362 closed, assigned to DefTruth, ziqi-jin

[2022-10-14 03:20] DefTruth commented on #362
高版本的cudnn引入了这个依赖，需要先安装zlip才能正常使用，可以看下官方文档：
- https://docs.nvidia.com/deeplearning/cudnn/install-guide/index.html#install-windows

[2022-10-14 07:24] jiangjiajun commented on #6
@datalee 可以，目前已经有UIE。 PaddleNLP的所有部署之后都会由FastDeploy来支持哈

[2022-10-14 09:00] yingeo opened #369 "希望能够尽快适配好PP-ShiTu。"
目前pp-shitu的端侧部署很困难，尤其是跨平台，希望FastDeploy适配好pp-shitu的端侧部署，尤其是Windows上的部署。

[2022-10-14 09:15] ChaoII commented on #369
附议

[2022-10-14 11:53] jiangjiajun commented on #6
https://github.com/PaddlePaddle/FastDeploy/issues/369 PP-ShiTu模型

[2022-10-14 11:53] jiangjiajun commented on #6
- [x] https://github.com/PaddlePaddle/FastDeploy/issues/361 RobustVideoMatting模型（已支持）

[2022-10-14 12:04] jiangjiajun commented on #6
https://github.com/PaddlePaddle/FastDeploy/issues/358  3D目标检测模型

[2022-10-14 12:05] jiangjiajun commented on #6
- [x] https://github.com/PaddlePaddle/FastDeploy/issues/138  YOLOv5 Classification模型支持(已支持)

[2022-10-14 12:52] heliqi commented on #360
是哪个模型？有删掉重新拉最新的镜像吗（中间有更新）？我这边测试yolo是可以的启动的

如果是最新镜像，麻烦提供下模型，我这边验证下

[2022-10-15 16:24] dachengai commented on #6
mnn 或ncnn 计划支持么，非常期待

[2022-10-16 04:36] jerryandjune opened #373 "有计划支持Multi-object tracking PP-Tracking吗？"
对应PaddleDetection：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.5/configs/mot

[2022-10-16 05:00] jiangjiajun commented on #373
https://github.com/PaddlePaddle/FastDeploy/pull/357 你是指这个模型吗，正在PR Review中

[2022-10-16 05:00] jiangjiajun commented on #6
https://github.com/PaddlePaddle/FastDeploy/issues/373 PPTracking已经支持

[2022-10-16 14:11] richjjj commented on #360
嗯嗯，新版本的镜像没问题啦

[2022-10-16 14:11] #360 closed, assigned to heliqi

[2022-10-16 18:22] centurions opened #379 "MemoryError"
Hi I get this error with batchsize = 32 after 10 epoch
creating index...
index created!
Traceback (most recent call last):
  File "train.py", line 134, in <module>
    model.train()
  File "train.py", line 126, in train
    mAP05 = self.evaluation.compute_map(self.val_dataloader, self.model)
  File "C:\final\dataset\FastestDet-main\utils\evaluation.py", line 98, in compute_map
    mAP05 = self.coc

[2022-10-16 18:23] #379 closed, assigned to nobody

[2022-10-17 04:06] brilliant-soilder opened #383 "IS that one GPU can only support one tensorRT ENGINE inference?"
IS that one GPU can only support one tensorRT ENGINE inference?
![9](https://user-images.githubusercontent.com/59491993/196087005-668819f8-aa80-4947-8517-d01f3b49a27f.jpg)
![9](https://user-images.githubusercontent.com/59491993/196087036-72b5ae81-3231-45cb-9801-7621751845e8.jpg)
IS that the Deployment would automatically find the Most optimal resource of one GPU?

When I opened one .exe using the

[2022-10-17 06:39] ChaoII commented on #373
已经PR，注意：目前测试支持单阶段JDE部署方式，SED（由检测和embeding两个模型串联）的方式暂不支持，建议fairMOT，后期合并后，欢迎编译并尝试部署，有任何问题欢迎提issue。

[2022-10-17 06:56] ziqi-jin commented on #369
PP-ShiTu 的部署已经着手开发，预计近期能够完成，请您耐心等待😄

[2022-10-17 10:26] chriswack opened #385 "OpenCV(4.3.0) Error: Assertion failed (inv_scale_x > 0) in resize"
2022-10-17 18:06:46.732 25736-25934/com.package.test E/cv::error(): OpenCV(4.3.0) Error: Assertion failed (inv_scale_x > 0) in resize, file /build/master_pack-android/opencv/modules/imgproc/src/resize.cpp, line 3932

    --------- beginning of crash
2022-10-17 18:06:46.732 25736-25934/com.package.test A/libc: /usr/local/google/buildbot/src/android/ndk-release-r20/external/libcxx/../../external/lib

[2022-10-17 10:47] DefTruth commented on #385
您好，请问具体是什么错误呢？使用的场景是？

[2022-10-17 10:58] chriswack commented on #385
在项目集成EasyEdge android端通用ARM芯片PP-OCRv3和PP-OCR-tiny时，执行ocr识别时，jni相关发生报错，程序崩溃。集成PP-PicoDet-s_320_lcnet等检测模型不存在此问题。

[2022-10-17 11:47] jiangjiajun commented on #383
How about the GPU-util? I think the GPU memory usage just means it has enough memory to inference 2 engines in the same time, but if the GPU-util is high with one TRT engine already, then there's no need inference with 2 engines.

![image](https://user-images.githubusercontent.com/19339784/196168854-e858b0e0-a8ea-40fd-99af-2d840a986d1a.png)

[2022-10-18 01:51] datalee commented on #6
有对比过和onnx之间的性能差异吗？

[2022-10-18 02:02] publicforlijun opened #388 "二次开发封装为DLL异常,麻烦看一下什么原因呐"
![Untitled](https://user-images.githubusercontent.com/37092245/196318046-535d7515-96cc-49fe-b7f5-a44caa95973d.png)

[2022-10-18 02:03] publicforlijun commented on #388
指针使用异常

[2022-10-18 02:03] #388 closed, assigned to nobody

[2022-10-18 05:28] JustinBili opened #390 "yolov7 姿态"
请问近期会有计划部署yolov7 的人体姿态识别吗？

[2022-10-18 05:48] DefTruth commented on #390
是指这个分支吗：
- https://github.com/WongKinYiu/yolov7/tree/pose

[2022-10-18 05:56] JustinBili commented on #390
是的

[2022-10-18 05:59] publicforlijun opened #391 "matting 是否支持背景全透明"
我想要matting后的图片背景全部透明.
![Untitled](https://user-images.githubusercontent.com/37092245/196347590-0436a6ad-3cdd-47de-bf50-51a3303798dd.png)

尝试了使用一张256X256全透明的png图片,替换读取图片默认IMREAD_COLOR参数为IMREAD_UNCHANGED,在SwapBackgroundMatting的时候会有内存报错.

[2022-10-18 06:02] DefTruth commented on #391
你的背景是4通道吗？目前暂时只支持3通道的背景替换

[2022-10-18 06:05] publicforlijun commented on #391
也就是通过SwapBackgroundMatting是没法让分割后的背景透明？有没有方法让分割后的图片存储出来的图片带Alpha通道使得背景透明？

[2022-10-19 02:39] jiangjiajun commented on #391
全透明的图，opencv支持吗，是否是需要Pillow来画图才行

[2022-10-19 10:32] stq054188 opened #398 "Python CPU版本推理时报错：RuntimeError: FastDeploy initalized failed!"
运行环境：Win10 64位，Python3.7.5，fastdeploy-python==0.3.0
安装fastdeploy-python版本如下：
https://www.paddlepaddle.org.cn/whl/fastdeploy.html
[fastdeploy_python-0.3.0-cp37-cp37m-win_amd64.whl](https://bj.bcebos.com/fastdeploy/release/wheels/fastdeploy_python-0.3.0-cp37-cp37m-win_amd64.whl)
——————————————————————————————
运行代码(官方给的Demo Code)：
`import cv2
import fastdeploy.vision as vision

model = vision.detecti

[2022-10-19 10:38] DefTruth commented on #398
已经收到您的问题，我们的同学先尝试复现您的问题哈

[2022-10-19 11:07] DefTruth commented on #398
我们这边目前复现不出这个情况，您那边可以尝试管理员权限运行试一下吗？或者卸载后重新安装试一下？另外就是可以看下您当前执行脚本的目录下是否有fastdeploy的同名目录，如果有的话可能python会优先从您的当前目录查找fastdeploy

[2022-10-19 11:13] stq054188 commented on #398
是管理员权限运行的，还是报相同的错误。

[2022-10-19 11:17] DefTruth commented on #398
可以尝试在anaconda的环境中运行，有可能是缺少了某些系统库

[2022-10-19 12:28] stq054188 commented on #398
看起来确实是这个问题，我在另外一台电脑上可以正常运行并得到结果，谢谢您的回复和帮助！

[2022-10-19 12:28] #398 closed, assigned to DefTruth

[2022-10-20 10:48] xxJian opened #404 "目标板子是armhf架构，onnxruntime1.12.0版本编译不出onnxruntime_cxx_api.h等文件，需要依赖armhf对应的libonnxruntime.so"
请教一下，我想在RV1109机子上部署FastDeploy（双核armv7，均属于armhf），看到目前只支持arm64和x86的。
用交叉编译的方式可以编译到100%，但是最后会链接相关so，而下载来了so都是x86的。

目前测试环境是x86的虚拟机ubuntu18，因为编译速度较快。

我已经在板子上编译出paddle2onnx.so了，但是用microsoft/onnxruntime仓库编译不出这些文件：
third_libs/install/onnxruntime$ tree
.
├── include
│   ├── cpu_provider_factory.h
│   ├── onnxruntime_c_api.h
│   ├── onnxruntime_cxx_api.h
│   ├── onnxruntime_cxx_inline.h
│   ├── onnxruntim

[2022-10-20 11:29] DefTruth commented on #404
你onnxruntime的编译命令具体是啥？另外，这是想将fastdeploy移植到armv7架构上？

[2022-10-20 11:33] DefTruth commented on #404
还有编译fastdeploy的具体命令

[2022-10-20 12:14] leiqing1 commented on #404
@xxJian 你是要用rv1109的arm cpu，不考虑使用上面的NPU吗？

[2022-10-20 12:54] xxJian commented on #404
@DefTruth 是的，想要移植到armv7板子上部署。现在好多人脸闸机都是这架构。官方给的sdk能编译出demo，但接口复杂。
目前先在x86上编译，尝试自己编译出FastDeploy依赖的第三方库。
这是编译FastDeploy的命令：

cd FastDeploy
git checkout develop
mkdir build && cd build
cmake .. -DENABLE_ORT_BACKEND=ON \
         -DENABLE_VISION=ON \
         -DCMAKE_INSTALL_PREFIX=${PWD}/fastdeploy-dev
make -j8
make install

这是编译onnxruntime的指令：

git clone https://github.com/microsoft/onnxruntime

git

[2022-10-20 12:57] xxJian commented on #404
@leiqing1 考虑过，自带的NPU不好用。rknn-toolkit最新版本的第三方库onnx版本记得只到1.8，好多算子不支持，开发比cpu难度更大。我自己也不熟人脸识别算法，FastDeploy的facedetect和faceid算法都不错。

[2022-10-20 14:16] vsharer opened #407 "windows10上开发，采用genymotion模拟器，用的easyedge arm sdk，调用sdk报错。"
错误信息：
],nativeLibraryDirectories=[/data/app/xxx.xxx-xxxx-Zr9QUg==/lib/x86, /system/lib, /system/vendor/lib]]] couldn't find "libedge-infer.so" .安装了Genymotion-ARM-Translation_for_9.0也不行

[2022-10-20 14:20] vsharer commented on #407
完整的错误信息：
 Caused by: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/xxxxxxxxx==/base.apk"],nativeLibraryDirectories=[/data/app/xxxxx==/lib/x86, /system/lib, /system/vendor/lib]]] couldn't find "libedge-infer.so"
        at java.lang.Runtime.loadLibrary0(Runtime.java:1011)
        at java.lang.System.loadLibrary(System.java:1657)
        at com.baidu.

[2022-10-20 14:46] jiangjiajun commented on #407
Hi，你部署的是什么模型

[2022-10-21 07:19] vsharer commented on #407
ocr模型，就是这个sdk:EasyEdge-Android-paddle-ocr-arm-SDK

[2022-10-21 10:46] DefTruth commented on #407
目前还不支持x86架构，您可以先尝试下真机调试，现在支持arm64-v8a和armeabi-v7a这两种常见的架构

[2022-10-22 14:19] vsharer opened #414 "使用android ocr sdk(就是这个EasyEdge-Android-paddle-ocr-arm-SDK），如何配置模型Infer的相关参数，有没有说明文档？"
例如在paddle ocr里，我们通常这样配置：= PaddleOCR(use_angle_cls=True, lang="ch",det_db_box_thresh =0.1, det_db_score_mode='slow') 。在android ocr sdk里，应该如何设置这些参数呢？（我想对应的初始化实例代码应该是：InferManager manager = new InferManager(context, config, serialNum)。

[2022-10-23 02:34] leiqing1 commented on #414
你好，参考v0.1里面的文档 https://github.com/PaddlePaddle/FastDeploy/blob/release/0.1/docs/ARM-Linux-CPP-SDK-Inference.md
FastDeploy近期会更新移动端的SDK，可以关注下

[2022-10-23 04:53] vsharer commented on #414
谢谢。但这个不是ocr的sdk api说明文档。

[2022-10-23 04:54] vsharer commented on #407
谢谢

[2022-10-23 05:03] #407 closed, assigned to nobody

[2022-10-24 02:45] heliqi commented on #228
已经支持服务化部署：
https://github.com/PaddlePaddle/FastDeploy/tree/develop/serving

[2022-10-24 03:13] kkkkkkxser opened #419 "web_demo ,npm install 为啥找不到包"
![image](https://user-images.githubusercontent.com/57437076/197441491-fa510999-1829-4473-a1fd-911c65f14d77.png)

[2022-10-24 03:23] peterwangfeng commented on #419
please use yarn that's ok

[2022-10-24 03:29] kkkkkkxser commented on #419
谢谢 确实可行了 ，是不是这个package.json有问题啊，yarn安装的时候可选列表都没有4.0

![image](https://user-images.githubusercontent.com/57437076/197443171-86d3a85b-f95e-43dd-add5-15ea8394bdda.png)

[2022-10-24 03:30] peterwangfeng commented on #419
是的啊

[2022-10-24 03:31] peterwangfeng commented on #419
please use yarn that's ok

[2022-10-24 04:03] chenqianhe commented on #419
这个才发包，目前仓库可以指定npm是正常的。国内镜像得看不同服务商的同步时间

[2022-10-24 04:06] chenqianhe commented on #419
yarn有的目前只建议3.1.0，3.1.1可能会有异常。

[2022-10-25 09:32] KRuok commented on #6
请问大佬有对tracking模型和像pphuman 这样的action识别流程的支持计划吗

[2022-10-26 02:16] jo-dean opened #434 "有支持PPYOLOE+"
请问现在能支持PPYOLOE+吗

[2022-10-26 03:13] jiangjiajun commented on #434
支持，直接使用fastdeploy.vision.detection.PPYOLOE即可即可哈

[2022-10-26 06:04] fanyuanxiang opened #436 "使用use_trt_backend()报错"
主要代码：
option = fd.RuntimeOption()
option.use_gpu()
option.use_trt_backend()
start = time.time()
print("time:",start)

model = vision.detection.YOLOv3("assets/model.pdmodel",
                                 "assets/model.pdiparams",
                                 "assets/infer_cfg.yml",option)

报错：
[ERROR] fastdeploy/backends/tensorrt/trt_backend.cc(573)::CreateTrtEngineFromOnnx       Failed to

[2022-10-26 06:16] jiangjiajun commented on #436
@fanyuanxiang  Hi, 方便上传一下你的模型吗

[2022-10-26 06:46] jo-dean commented on #434
好的，谢谢

[2022-10-27 01:16] czr-gc opened #442 "doc error in benchmark/readme.md"
[文档](https://github.com/PaddlePaddle/FastDeploy/blob/develop/benchmark/README.md) 提供的案例有小错误，漏写了`tgz`后缀
原文：
[code]
应该为：
[code]

[2022-10-27 01:49] jiangjiajun commented on #442
多谢指正，已修改

[2022-10-27 04:51] ziqi-jin commented on #369
您好，您有尝试过在Windows上安装PP-ShiTu需要的FAISS库吗

[2022-10-27 08:24] fanyuanxiang commented on #436
这是一个测试模型，使用其他backend类型可以推理，只用使用trt_backend会报错
cat infer_cfg.yml
----------------------------
mode: paddle
draw_threshold: 0.5
metric: VOC
use_dynamic_shape: false
arch: YOLO
min_subgraph_size: 3
Preprocess:
- interp: 2
  keep_ratio: false
  target_size:
  - 608
  - 608
  type: Resize
- is_scale: true
  mean:
  - 0.485
  - 0.456
  - 0.406
  std:
  - 0.229
  - 0.224
  - 0.225
  type: NormalizeImage

[2022-10-27 08:32] fanyuanxiang opened #446 "可支持推理结果、绘制分开执行吗？？"
fast deploy 可以支持推理和可视化结果分开吗；预测得到的DetectionResult 结果 ( result = model.predict(im.copy()) ) .可以支持序列化吗？ 然后在反序列化结果执行 vis_im = vision.vis_detection(im, result, score_threshold=0.5) 得到绘制检测对象的图片？

使用pickle序列化会出现错误
TypeError: can't pickle fastdeploy.libs.fastdeploy_main.vision.DetectionResult objects

[2022-10-27 08:37] fanyuanxiang commented on #436
附件太大了，
 https://cowtransfer.com/s/f484c56571304a 点击链接查看 [ yolov3_mobilenet_v1_mine.zip ] ，或访问奶牛快传 cowtransfer.com 输入传输口令 2jek12 查看；

[2022-10-27 10:01] jiangjiajun commented on #446
目前结果还没有支持Pickle操作，会添加到后面支持

[2022-10-28 01:26] jiangjiajun commented on #436
@fanyuanxiang  Hi， 这个模型你之前用Paddle框架加载测试过吗？ 我测试发现这个模型无法正常使用Paddle加载，怀疑目录中的`model.pdiparams`不合法

[2022-10-28 03:28] fanyuanxiang commented on #436
thanks for your reply.

您再试试这个，可能是解压缩除了问题, 我当时测试任何一个backend 只有gpu的tensorRT会报错，我现在没有GPU资源不到还能不能复现，

 https://cowtransfer.com/s/cb427a50979a40 点击链接查看 [ yolov3_mobilenet_v1_mine (1).zip ] ，或访问奶牛快传 cowtransfer.com 输入传输口令 m6o1mf 查看；

![Snipaste_2022-10-28_11-26-23](https://user-images.githubusercontent.com/50319069/198495537-3f6f58ce-5d71-413a-b428-25bb3ff68262.png)

[2022-10-28 03:40] jerryandjune commented on #373
看到已经更新了，感谢

[2022-10-28 07:02] stq054188 opened #452 "PaddleSeg Python部署示例：推理完成后，不输出可视化结果"
Win10 64位，Python3.8，fastdeploy-python==0.4.0，按照下面链接的步骤做实例分割推理，不输出可视化结果
https://github.com/PaddlePaddle/FastDeploy/tree/develop/examples/vision/segmentation/paddleseg/python
——————————————————————————————————
测试模型：Unet_cityscapes_without_argmax_infer
运行指令：python infer.py --model Unet_cityscapes_without_argmax_infer --image 0.jpg --device cpu
使用图片：
![image](https://user-images.githubusercontent.com/

[2022-10-28 07:37] felixhjh commented on #452
您好，图片路径输入正确了吗？这边看大概率是没读到推理的图片。 我建议如果不确定的话，就使用绝对路径或者在Infer.py中写死路径哈？

[2022-10-28 07:38] felixhjh commented on #452
如果有推理结果，还请麻烦给出推理结果参考下吗？

[2022-10-28 07:40] stq054188 commented on #452
图片加载成功了的，完整的输出信息如下：
[WARNING] fastdeploy/vision/segmentation/ppseg/model.cc(103)::fastdeploy::vision::segmentation::PaddleSegModel::BuildPreprocessPipelineFromConfig       The exported PaddleSeg model is with dynamic shape input, which is not supported by ONNX Runtime and Tensorrt. Only OpenVINO and Paddle Inference are available now. For using ONNX Runtime or Tensorrt, Please refer to https://git

[2022-10-28 10:41] felixhjh commented on #452
您好，感谢您的分享，debug了下，是现在FastDeploy PaddleSeg的可视化API接口更新升级了。稍后会更新Fastdeploy主库的develop分支。如果方便，也可自行将D:\Python38\lib\site-packages\fastdeploy\vision\visualize_init_.py +40  更改
[code]

[2022-10-28 13:51] jiangjiajun commented on #436
HI，我复现了你的问题，但是单纯使用fd.Runtime加载模型会出现这个问题。

如果使用`examples/vision/detection/paddledetection/python/infer_yolov3.py`是可以正常推理部署的（TensorRT），使用如下命令

[code]

因为在`fastdeploy.vision.YOLOv3`有对模型进行处理，使得其可以成功跑在TRT上，在您找到GPU后，麻烦安装一下最新的FastDeploy进行测试下哈

如若有问题，可随时更新在这里，我会持续跟进

[2022-10-29 08:30] yingeo commented on #369
是的

[2022-10-29 10:22] ziqi-jin commented on #369
您好，为了更好的集成PP-ShiTu，我想和您交流一下，是否方便编辑邮件发送您的微信号到 jinziqi01@baidu.com ，我会联系您。

[2022-10-29 14:52] jiangbowen opened #457 "python api 怎么修改推理结果的现况颜色"
如题

[2022-10-30 15:48] jiangjiajun commented on #457
目前可视化的颜色是自动生成的，不支持修改。但如若有需求，欢迎修改后为FastDeploy提一个PR

[2022-10-31 08:02] stq054188 commented on #452
好的，验证OK，感谢。

[2022-10-31 08:02] #452 closed, assigned to felixhjh

[2022-10-31 17:24] sctrueew opened #465 "Yolov5-seg"
Hi, thanks for your work. Is it possible to support yolov5-seg?

Thanks in advance

[2022-11-01 00:49] czr-gc opened #466 "paddle_inference.cmake 版本更新需要同步更新 paddle inference IPU安装包"
[commit](https://github.com/PaddlePaddle/FastDeploy/commit/f2747133d62f55b1b418dbc4e2f72089a28d2189) 更新了paddle_inference的版本名称，但是上传的IPU安装包后缀是`2.4-dev1`, 需要麻烦fastdeploy的同事同步更新下云端IPU安装包命名，否则会下载失败。谢谢。

[2022-11-01 02:14] jiangjiajun commented on #466
已解决 https://github.com/PaddlePaddle/FastDeploy/pull/467

[2022-11-01 02:14] #466 closed, assigned to nobody

[2022-11-01 14:00] jiangjiajun commented on #6
https://github.com/PaddlePaddle/FastDeploy/issues/465 YOLOv5-seg

[2022-11-01 15:34] albyho opened #477 "无法下载 FastDeploy macOS arm64 预编译库"
[fastdeploy-osx-arm64-0.3.0.tgz](https://bj.bcebos.com/fastdeploy/release/cpp/fastdeploy-osx-arm64-0.4.0.tgz)

[2022-11-01 16:03] jiangjiajun commented on #477
https://bj.bcebos.com/fastdeploy/dev/cpp/fastdeploy-osx-arm64-0.5.0.tgz

试下这个

[2022-11-01 23:26] evehal commented on #391
请支持透明通道,没有透明通道还需要抠像,这不多此一举吗

[2022-11-02 01:09] DefTruth commented on #391
我们正在排期来支持相关的功能哈~

[2022-11-02 08:05] vsharer opened #480 "easyedge ocr的sdk,是否有文档？"
api接口说明，以及ocr模型相关的参数有哪些 ，在哪里配置？这些是否提供说明？例如det_db_box_thresh =0.3,det_db_score_mode='slow', det_limit_type='min'，这些参数在服务版的ocr里是可以配置的，但在easyedge里如何配置？

[2022-11-02 08:33] leiqing1 commented on #480
你好，easyedge的文档有的，直接在网页就可以看，详细见该图
![image](https://user-images.githubusercontent.com/54695910/199439302-e9535c2f-fa6e-4c05-850e-32092696a870.png)

[2022-11-02 08:35] leiqing1 commented on #480
@vsharer easyedge里面的demo是体验版本，不支持模型层面的配置哈，可以直接用来集成试用。

[2022-11-02 09:15] vsharer commented on #480
谢谢。那我需要进行模型层面的配置，例如"det_db_box_thresh =0.3,det_db_score_mode='slow', det_limit_type='min'",需要怎么做呢

[2022-11-02 10:43] wzy123456wzy opened #483 "如何将代码集成到我自己开发的app中呢？"
如何将代码集成到我自己开发的app中呢，我想在自己的app中调用模型

[2022-11-02 11:19] leiqing1 commented on #480
这个需要看一下Java代码，研究下能不能修改。 easyedge的Java代码是开源的，可以直接修改。

[2022-11-02 13:40] vsharer commented on #480
easyedge我只下载到ocr sdk的编译过的包，请问其中的j开源ava代码时在哪里有，能否提供一下链接，谢谢。

[2022-11-03 02:24] DefTruth commented on #483
可以先参考这个文档在Android接入FastDeploy的模型能力哈，我们计划会在后续提供aar包直接调用。目前可以通过JNI的方式接入您想使用的模型（暂时只支持Paddle系列的模型），参考文档：
- [在 Android 中通过 JNI 使用 FastDeploy C++ SDK](https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/cn/faq/use_cpp_sdk_on_android.md)

以及相关的app案例：
- [图像分类Android使用文档](../../../examples/vision/classification/paddleclas/android/README.md)
- [目标检测Android使用文档](../../../examples/vision/detection/pa

[2022-11-04 04:18] hengji200 opened #496 "非常期待FastDeploy Runtime 的C++推理示例"
非常期待FastDeploy Runtime 的C++推理示例

[2022-11-04 07:02] vsharer opened #498 "easyedge我只下载到ocr sdk的编译过的包，请问其中的开源java代码在哪里有，能否提供一下链接，谢谢。"

[2022-11-04 11:32] waizao opened #501 "paddleocr训练出来的三个模型，能否部署到同一个web服务上？"
用paddleocr训练出来的三个模型，模型1为验证码识别，模型2为身份证件识别，模型3为动物识别
能否多个模型用开启一个web服务（即只用一个端口8866），通过url路径参数区分模型？
这种场景，怎么使用FastDeploy部署哈？

[2022-11-07 09:34] wjj19950828 commented on #496
@hengji200 您好，这个PR已经添加了Runtime的C++ 推理示例：https://github.com/PaddlePaddle/FastDeploy/pull/515

[2022-11-07 10:25] saeedkhanehgir opened #516 "Error when using video"
Hi
Thanks for sharing this project.
I want to use yolov5-face detection in **c++ on raspberry pi**.
when I use it for **image**, everything is ok. but when I use it for **video**, I get the below error.

[code]
I am working on raspberry pi with **ubuntu 22.04 64bit** and my Opencv version is **4.3.0** and  Opencv is built from source.
I built Opencv by [link](https://qengineering.eu/install-opencv

[2022-11-07 11:39] jiangjiajun commented on #516
Hi, @saeedkhanehgir

Did you built fastdeploy by yourself, or you  download the prebuilt FastDeploy?

[2022-11-07 11:40] saeedkhanehgir commented on #516
Hi @jiangjiajun
I built by myself.

[2022-11-07 11:43] jiangjiajun commented on #516
I think you are using the prebuilt OpenCV(version 3.4.14, without video enabled) which is integrated in FastDeploy by default. Could you rebuild FastDeploy using `-DOPENCV_DIRECTORY`(if python, `export OPENCV_DIRECTORY`), to build FastDeploy with your own OpenCV

[2022-11-07 12:13] saeedkhanehgir commented on #516
@jiangjiajun
Thanks for your answer. when I built OpenCV I set   **-D CMAKE_INSTALL_PREFIX=/usr/local** . Now I should set **-DOPENCV_DIRECTORY=/usr/local/ ?**

[2022-11-07 12:31] saeedkhanehgir commented on #516
@jiangjiajun
Thanks, it works.

[2022-11-07 14:11] hengji200 commented on #496
@wjj19950828 谢谢！谢谢！

[2022-11-08 03:28] czr-gc opened #519 "RKNPU2 import issue"
FastDeploy在设备无关的代码上import了设备相关的依赖`RKNPU2`:

https://github.com/PaddlePaddle/FastDeploy/blob/f95654b7ef818781899f19f7d56f90b67f0f3b9d/python/fastdeploy/runtime.py#L19
https://github.com/PaddlePaddle/FastDeploy/blob/f95654b7ef818781899f19f7d56f90b67f0f3b9d/python/fastdeploy/__init__.py#L22

如果源码编译时，没有enable rknpu2,  `import fastdeploy`会报错：
[code]

建议将RKNPU包一层不要直接import进来。

另外， `ModelFormat`被import了两

[2022-11-08 04:59] chfeizy opened #521 "编译后打开编译代码，引入都报错了"
git clone https://github.com/PaddlePaddle/FastDeploy.git
cd FastDeploy
mkdir build && cd build
cmake .. -DENABLE_ORT_BACKEND=ON \
         -DENABLE_PADDLE_BACKEND=ON \
         -DENABLE_OPENVINO_BACKEND=ON \
         -DCMAKE_INSTALL_PREFIX=${PWD}/compiled_fastdeploy_sdk \
         -DENABLE_VISION=ON \
         -DENABLE_TEXT=ON
make -j12
make install

按照以上执行后打开compiled_fastdeploy_sdk里的代码
<img width

[2022-11-08 05:01] chfeizy commented on #521
<img width="360" alt="image" src="https://user-images.githubusercontent.com/6427629/200479210-f3de29fb-450b-4140-8a65-8ccf53ddf87f.png">
opencv用的3.4.16 的这个版本太低了现在基本都用4.5 的了

[2022-11-08 05:23] jiangjiajun commented on #521
你这里指的报错，是指编译出错了吗？ 能否贴一下错误日志

[2022-11-08 05:37] chfeizy commented on #521
直接打开编译生成里的example文件，是引用有问题

[2022-11-08 06:03] czr-gc commented on #519
Update:

进一步debug发现，问题出现在：

https://github.com/PaddlePaddle/FastDeploy/blob/e8343909ca523f92c955723fe2a5d64f6c966938/fastdeploy/backends/paddle/paddle_backend.cc#L102

这一行编译报错没有注意，导致pybind添加rknpu没有正确执行。后面import出现错误。

`paddle2onnx` 需要include `paddle2onnx.cmake`进行编译。如果只编译paddle后端，`paddle2onnx.cmake`似乎并没有正确的添加进来，需要做如下更改才行：

[code]

[2022-11-08 06:04] czr-gc commented on #519
@jiangjiajun , 还麻烦确认下CMake中需要的`ENABLE_PADDLE_FRONTEND`是不是一个问题？

[2022-11-08 06:05] jiangjiajun commented on #521
是指IDE里面的显示问题吗？ 你的IDE是VS Code吗？

[2022-11-08 06:12] czr-gc commented on #519
Fixed in https://github.com/PaddlePaddle/FastDeploy/pull/522

[2022-11-08 06:14] chfeizy commented on #521
clion

[2022-11-08 06:15] chfeizy commented on #521
感觉是库的引用有问题，结构里代码都有的

[2022-11-08 06:23] chfeizy commented on #521
知道了是例子要单独再引入刚才编译的 sdk

[2022-11-08 07:02] jiangjiajun commented on #519
PR已合入解决，感谢

[2022-11-08 07:02] #519 closed, assigned to nobody

[2022-11-08 07:15] #516 closed, assigned to nobody

[2022-11-08 08:25] fanyuanxiang opened #527 "paddlex inference_model 模型可以支持使用fastDeploy推理、部署吗 ？"
paddlex v1.3.0

├── model.yml
├── __model__
└──  __params__

==============
paddlex v2.1.0

├── model.pdiparams
├── model.pdiparams.info
├── model.pdmodel
├── model.yml
└── pipeline.yml

[2022-11-08 08:30] chfeizy commented on #521
<img width="1117" alt="image" src="https://user-images.githubusercontent.com/6427629/200513763-145aea60-546c-487f-8d8d-25a785bb55d6.png">
/Users/also/www/FastDeploy/examples/vision/matting/rvm/cpp/build/infer_demo
infer_demo(25161,0x7ff84c6be4c0) malloc: Attempted to register zone more than once: 0x10ebe2160
[INFO] fastdeploy/runtime.cc(513)::Init	Runtime initialized with Backend::OPENVINO in Devi

[2022-11-08 09:57] albyho commented on #477
还是不行呢。

[2022-11-08 10:21] jiangjiajun commented on #477
这个可以下载哦，你说的不行是指运行有问题吗

[2022-11-08 12:16] jiangjiajun commented on #527
暂时还没支持，你可以在这里按优先级列一下你想支持部署的模型吗？

[2022-11-08 12:56] saeedkhanehgir opened #535 "using ppyolo_tiny in c++ with onnxruntime backend"
Hi
Thanks for sharing this project.
I trained ppyolo_tiny with[ this repo](https://github.com/PaddlePaddle/PaddleDetection).
then I converted trained model to ONNX with this [link](https://github-com.translate.goog/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/EXPORT_ONNX_MODEL.md?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en)
in during converting model to inference model and ONNX model  I set **Te

[2022-11-08 13:30] jiangjiajun commented on #535
Hi, @saeedkhanehgir

Here is a export model of PicoDet(Also exported from PaddleDetection) https://bj.bcebos.com/paddlehub/fastdeploy/picodet_l_320_coco_lcnet.tgz

There's a `infer_cfg.yml` inside the directory, it configures how to preprocess the image, and feed data to the model. From your error message, it means the `infer_cfg.yml` is not loaded.

Also, there's no need export Paddle to ONNX by

[2022-11-08 13:41] albyho opened #536 "v0.5.0 RobustVideoMatting demo 的 void MattingResult::Resize(int size) 报错"
[code]

`shape.size()`的值为 2 。

----

- 测试环境：macOS arm64
- 编译 FastDeploy 的 cmake 命令：
[code]
- 测试命令：`./infer_demo rvm_mobilenetv3_fp32.onnx matting_input.jpg matting_bgr.jpg 0`

[2022-11-08 14:30] albyho commented on #536
Latest 没问题。

[2022-11-08 14:30] #536 closed, assigned to nobody

[2022-11-09 02:24] sunyuchen1977 opened #537 "PP-OCRv3识别中文字符乱码"
运行examples\vision\ocr\PP-OCRv3\cpp中的infer.cc代码，可以检测到字符具体位置，但是输出的中文字符内容是乱码，数字正常。模型、字典都确认过没问题。

[2022-11-09 02:46] yunyaoXYY commented on #537
Hi你好，我想确认一下
模型和字典都是从FastDeploy提供的链接下载的吗？
预测的图片用的是什么图片呢，方便发一下吗，我来复现一下

[2022-11-09 05:16] albyho commented on #477
是的，采用"非"科学上网能直接下载。

[2022-11-09 05:16] #477 closed, assigned to nobody

[2022-11-09 06:58] saeedkhanehgir commented on #535
Thanks @jiangjiajun
I forgot to say I am working on **raspberry pi**. I only add    **option.UseOrtBackend();** into  infer_ppyolo.cc and compile. After that when I use I get the below error.

[code]
I think there is no support **ORT backend for ppyolo model in CPU (raspberry pi)** . Is it correct?

[2022-11-09 06:58] fanyuanxiang commented on #527
faster_rcnn_r50_fpn、ppyolov2、resnet50_vd_ssld 、deeplabv3p_resnet50_vd

[2022-11-09 07:54] jiangjiajun commented on #535
I didn't test ppyolo-tiny before, you could try to modify the code
https://github.com/PaddlePaddle/FastDeploy/blob/develop/fastdeploy/vision/detection/ppdet/ppyolo.cc#L26

Add `Backend::ORT` in `valid_cpu_backends` and rebuild FastDeploy again

[2022-11-09 07:59] jiangjiajun commented on #535
Also if you are using in rasperry, Backend::Lite is available, try to build FastDeploy with -DENABLE_LITE_BACKEND=ON

[2022-11-09 08:18] leiqing1 opened #542 "🔥🔥🔥【FastDeploy 部署三日直播课】11月09日～11月11日🔥🔥🔥"
- 🔥 **2022.11.09 20:30～21:30，《覆盖云边端全场景，150+热门模型快速部署》。微信扫码报名**
- 🔥 **2022.11.10 20:30～21:30，《瑞芯微、晶晨、恩智浦等10+AI硬件部署，直达产业落地》。微信扫码报名**
- 🔥 **2022.11.10 19:00～20:00，《10+热门模型在RK3588、RK3568部署实战》。微信扫码报名**
 <div align="center">
  <img src="https://user-images.githubusercontent.com/54695910/200145290-d5565d18-6707-4a0b-a9af-85fd36d35d13.jpg" width = "120" height = "120" />
  </div>

[2022-11-09 08:28] czr-gc opened #543 "Typo in requirement.txt"
https://github.com/PaddlePaddle/FastDeploy/blob/30412cb59995d191bc63a22bd23e1bc6db2311e0/examples/text/ernie-3.0/python/requirements.txt#L1

应该是：`faster_tokenizer`

[2022-11-09 08:40] sushidelivery opened #545 "RaspberryPi"
Hello!
Does FastDeploy supports RaspberryPi 3 ?

[2022-11-09 09:24] jiangjiajun commented on #543
已修复合入，感谢~

[2022-11-09 09:24] #543 closed, assigned to nobody

[2022-11-09 09:36] #545 closed, assigned to nobody

[2022-11-10 02:51] TWK2022 opened #549 "您好，我在使用您们给的yolov7end2end_trt案例时，遇到问题CudaCast only support input INT64, output INT32。"
您好，我在使用您们给的yolov7end2end_trt案例时，遇到问题CudaCast only support input INT64, output INT32。
我的环境是windows，fastdeploy-gpu-python0.5,0，python3.8.5，cuda11.6，cudnn11.6
使用的命令是python infer.py --model yolov7-end2end-trt-nms.onnx --image 001.jpg --device gpu --use_trt True
报错信息是：
[FastDeploy][INFO]:  Successfully found CUDA ToolKit from system PATH env -> D:\CUDA\development\bin
[INFO] fastdeploy/backends/tensorr

[2022-11-10 03:22] wang-xinyu commented on #549
我这里没有复现这个问题， 您的yolov7-end2end-trt-nms.onnx是下载的这个文件吗？https://bj.bcebos.com/paddlehub/fastdeploy/yolov7-end2end-trt-nms.onnx

[2022-11-10 03:22] tomjeans opened #550 "请问在jetson 上能运行benchmark?"
当运行时报错
[ERROR] fastdeploy/runtime.cc(319)::EnablePaddleToTrt   While using TrtBackend with EnablePaddleToTrt, require the FastDeploy is compiled with Paddle Inference Backend, please rebuild your FastDeploy.
重新编译
CMake Error at cmake/paddle_inference.cmake:67 (message):
  Paddle Backend doesn't support linux aarch64 now.
Call Stack (most recent call first):
  CMakeLists.txt:212 (include)
发下使用trt b

[2022-11-10 03:23] sunyuchen1977 commented on #537
你好，昨天回复了，不知为啥没了。模型和字典都都是从FastDeploy提供的链接下载的，我试了几张图片，都是中文乱码，数字没问题，所以应该有中文的图片就能复现。不知是不是我这配置问题。

[2022-11-10 03:39] TWK2022 commented on #549
是的，我也重新用您给的链接试了一次

[2022-11-10 04:45] yunyaoXYY commented on #537
你好，我在linux上复现了没有问题呢.  你是在Win上部署的吗，可以检查下输出的编码格式，可能是这个导致乱码

[2022-11-10 04:45] yunyaoXYY commented on #537
你好，我在linux上复现了没有问题呢. 你是在Win上部署的吗，可以检查下输出的编码格式，可能是这个导致乱码

[2022-11-10 04:48] wang-xinyu commented on #549
安装fastdeploy-gpu-python的命令是什么呢？

[2022-11-10 05:23] wjj19950828 commented on #550
@tomjeans 是跑哪个benchmark脚本呢，环境中是有TRT的吗

[2022-11-10 05:33] TWK2022 commented on #549
是这个：pip install fastdeploy-gpu-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html

[2022-11-10 05:56] wang-xinyu commented on #549
复现了，0.5.0有问题，我再debug一下。

0.6.0可以
您试一下pip install fastdeploy-gpu-python==0.6.0 -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html

[2022-11-10 06:26] TWK2022 commented on #549
好像是不是没有windows版本的呢

[2022-11-10 06:46] wang-xinyu commented on #549
我这里能安装， 或者直接下载这个 https://bj.bcebos.com/fastdeploy/dev/wheels/fastdeploy_gpu_python-0.6.0-cp38-cp38-win_amd64.whl

[2022-11-10 07:01] vsharer commented on #498
这个issue麻烦给处理一下，谢谢。着急用。

[2022-11-10 07:01] jo-dean opened #553 "PPYOLO不支持TRT后端"
使用命令运行`python infer_ppyolo.py --model_dir ppyolo_mbv3_small_coco --image 000000014439.jpg --device gpu --use_trt  True`
发现
`PaddleDetection/PPYOLO is not supported with backend Backend::TRT.`

而且cpu推理时间比gpu推理时间快

[2022-11-10 07:18] jiangjiajun commented on #553
https://github.com/PaddlePaddle/FastDeploy/tree/develop/examples/vision/detection/paddledetection 参考这里的说明，目前这里几个模型的TRT正在打通中

[2022-11-10 07:19] TWK2022 commented on #549
可以啦，太感谢了，还专门发了邮件，谢谢(✪▽✪)(｡･ω･｡)ﾉ♡♡♡

[2022-11-10 07:58] tomjeans commented on #550
tensorrt       8.4.0.11-1+cuda11.4 arm64        Meta package of TensorRT
跑的benchmark_ppcls.py 这个脚本

[2022-11-10 08:52] UygarUsta99 opened #559 "Dynamic Batch Inference"
I have exported my yolov7 model with dynamic axes as tensorrt.Engine runs fine on single batch but I want to be able to make inference with multiple images.How can I achive this ? How should I feed my images to the model.predict method ? I have tried using ```model.predict(np.array([im.copy(),im.copy()]))```  but I get errors.
Any help would be much appreciated.

[2022-11-10 09:09] #549 closed, assigned to wang-xinyu

[2022-11-10 09:20] jiangjiajun commented on #559
Hi, @UygarUsta99 We are working on batch inference this week, I think it will supported in next week. Once the feature is updated, we will comment here to let you know. :)

[2022-11-10 09:31] heliqi commented on #559
Temporary solution:
[code]
or
[code]

[2022-11-10 10:47] weijingsu opened #561 "Due to the unsupported operators, the conversion is aborted."
/home/aistudio/work/FastDeploy/examples/vision/detection/paddledetection/quantize/python
[INFO] fastdeploy/vision/common/processors/transform.cc(45)::FuseNormalizeCast	Normalize and Cast are fused to Normalize in preprocessing pipeline.
[INFO] fastdeploy/vision/common/processors/transform.cc(93)::FuseNormalizeHWC2CHW	Normalize and HWC2CHW are fused to NormalizeAndPermute  in preprocessing pipeline

[2022-11-10 10:50] jiangjiajun commented on #561
你可能用的老的量化方式，加载的模型是老的量化格式。

可以参考一下这个文档，里面是FD目前支持的一些量化模型，同时也支持相应模型的一键量化
https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/cn/quantize.md

[2022-11-10 14:40] weijingsu commented on #561
使用你的方法重新量化了，推理的时候还是出现报错。
/home/aistudio/work/FastDeploy/examples/vision/detection/paddledetection/quantize/python
[INFO] fastdeploy/vision/common/processors/transform.cc(45)::FuseNormalizeCast	Normalize and Cast are fused to Normalize in preprocessing pipeline.
[INFO] fastdeploy/vision/common/processors/transform.cc(93)::FuseNormalizeHWC2CHW	Normalize and HWC2CHW are fused to NormalizeAndPermute

[2022-11-10 14:46] yunyaoXYY commented on #561
你好,
1.你量化的是什么模型呢
2. 你使用的Fastdeploy是什么版本呢

[2022-11-10 14:46] yunyaoXYY commented on #561
你好,
1.你量化的是什么模型呢
2. 你使用的Fastdeploy是什么版本呢

[2022-11-10 14:46] jiangjiajun commented on #561
你的这个是什么模型呢

[2022-11-10 14:53] weijingsu commented on #561
1、我量化的模型是ppyoloe_crn_s_300e_coco
2、Fastdeploy是fastdeploy-python==0.0.0 -f https://www.paddlepaddle.org.cn/whl/fastdeploy_nightly_build.html

[2022-11-10 14:57] yunyaoXYY commented on #561
这个ppyoloe的模型是从paddledetection导出的吗, 导出是怎样导出的呢. 方便的话, 可以发一下导出步骤, 我明天去复现一下.

[2022-11-10 16:28] weijingsu commented on #561
%cd /home/aistudio/work/PaddleDetection
!python tools/export_model.py \
        -c configs/ppyoloe/ppyoloe_crn_s_300e_coco.yml \
        -o weights=output/ppyoloe_crn_s_300e_coco/model_final \
        trt=True #不包含NMS：trt=True exclude_post_process=True，包含：trt=True

[2022-11-10 16:38] weijingsu commented on #561
非常感谢，问题已经解决了，应该是模型导出的时候出了问题，重新导出量化就可以了。

[2022-11-10 16:44] jiangjiajun commented on #561
是因为模型导出时指定了--trt True的原因吗

[2022-11-11 00:21] weijingsu commented on #561
我把paddledetection更新到最新然后，重新导出模型，也可能是之前导出的模型不带nms。

[2022-11-11 00:48] jiangjiajun commented on #561
看上面的导出命令，推测是因为加了trt True的原因。 这个参数不用加, FastDeploy无需这样导出部署

[2022-11-11 02:47] wjj19950828 commented on #550
@tomjeans 我感觉TRT没有编进去，运行的log截图看下

另外编python包，参考这个编译命令
[code]

然后再试试～

[2022-11-11 02:52] jiangjiajun commented on #550
Paddle Inference当前在Jetson上还没支持，由于不同的Jetson设备依赖不同的Paddle Inference包，所以暂时无法自动下载。我们接下来会支持用户自定义设置-DPADDLE_DIRECOTRY来引入Paddle Inference @joey12300

当前在Jetson上跑时，TRT用的是系统自带的TensorRT，慢可能跟模型相关

[2022-11-11 05:42] sunyuchen1977 commented on #537
你好，我是在win10上部署的，用的vs2019，调整了一下编码格式后问题解决了。感谢回复。

[2022-11-11 05:42] #537 closed, assigned to yunyaoXYY

[2022-11-14 13:49] albyho opened #589 "[RobustVideoMatting]libc++abi: terminating with uncaught exception of type std::length_error: vector"
FastDeploy 版本：预编译版 0.6.0
OS：macOS 12.6 (Arm64)
语言：C++
模型：rvm_mobilenetv3_fp32.onnx
推理方式：CPU

编译运行 infer_demo，并使用固定的参数(CpuInfer) 。测试发现，经常出现这个异常(并不是每次)。
请问大致会是什么原因？

[2022-11-15 06:23] #9 closed, assigned to leiqing1

[2022-11-15 06:51] albyho commented on #589
@jiangjiajun

[code]

[2022-11-15 08:00] Zheng-Bicheng opened #595 "RKNPU2目前已知存在问题合集"
12-08
* 没有分类模型的支持
* RKYOLO系列模型后处理需要优化
* model_format修改为根据模型后缀自动判断

[2022-11-15 08:37] colinchou2020 opened #596 "FastDeploy部署模型时运行出错"
FastDeploy部署模型时运行出错，提示未加载kernelbase.pdb

[2022-11-15 08:56] wjj19950828 commented on #589
@albyho 感谢反馈，目前问题已经修复～

这里问题不是稳定复现主要下列原因：

vector为自动扩容机制，你shape如果只是初始化，没有resize，虽然vector.size为3,但是你访问vector[3]是会返回一个随机值，而不是直接报错，当随机一个值很大，就会报错

[2022-11-15 09:15] dium6i opened #597 "Web Demo替换模型失败"
按照教程（https://github.com/PaddlePaddle/FastDeploy/blob/develop/examples/application/js/WebDemo.md ）来，使用 npm run dev 后成功运行demo，OCR中也可以正常识别。但在模型替换时，按照步骤3给的例子：
await ocr.init();
修改为
await ocr.init({modelPath: "https://js-models.bj.bcebos.com/PaddleOCR/PP-OCRv3/ch_PP-OCRv3_det_infer_js_960/model.json"});
替换模型后，再次 npm run dev 后，页面就一直停留在“正在加载模型”了。

检查网页元素，正常时det和rec的model.json都读取过来了；替换模型后，发现只有rec的model.js

[2022-11-15 09:20] albyho commented on #589
@wjj19950828
好的，我之前自行改为 shape[2] 也没问题了。

[2022-11-15 09:20] #589 closed, assigned to wjj19950828

[2022-11-15 09:26] wjj19950828 commented on #559
@UygarUsta99 hi，now yolov5 batch_predict is support

demo:
[code]

[2022-11-15 09:41] jiangjiajun commented on #596
是否与此issue是同一个问题？ https://github.com/PaddlePaddle/FastDeploy/issues/597

[2022-11-15 09:48] chenqianhe commented on #597
看一下console的报错

[2022-11-15 09:49] chenqianhe commented on #596
确认下部署平台和语言哈，不像是js相关

[2022-11-15 09:51] chenqianhe commented on #597
检查下console报错以及网络请求状况，是det根本没下载吗

[2022-11-15 10:04] dium6i commented on #597
我不太懂js，不知道下面的报错信息是不是您想要的。
![1111](https://user-images.githubusercontent.com/75460093/201890126-1042cfcf-caac-4fe0-a88c-77da0a07da87.jpg)

det的model.json根本没下载，只有rec的model.json下载了。
![2222](https://user-images.githubusercontent.com/75460093/201891004-0545217e-24df-4158-b309-c28fa719a702.jpg)

[2022-11-15 12:22] #542 closed, assigned to nobody

[2022-11-15 13:01] denonzhu opened #601 "FastDeploy与官方的easyedge的demo，同样模型性能有明显差距"
同一部手机，FastDeploy的性能非常低，不知道是不是优化没做好

[2022-11-15 13:09] denonzhu commented on #601
![WechatIMG4](https://user-images.githubusercontent.com/5187679/201927519-e3c2bf83-2c8c-4688-b354-eb74929339f1.jpeg)
![WechatIMG5](https://user-images.githubusercontent.com/5187679/201927535-fe88e523-7e1f-47ef-978c-56162907a32e.jpeg)
同样模型，fps一个4-20，一个fps 40-60

[2022-11-15 13:17] DefTruth commented on #601
加载的模型都分别是什么呢？手机的机型和芯片分别是什么呢？方便提供下edge和在fastdeploy中跑的模型吗？以及计算FPS的方式？

[2022-11-15 13:30] denonzhu commented on #601
手机是麒麟9000，华为nova 8pro ,  fastdeploy就是例子中的picodet_s_320_coco_lcnet， edge是[PP-PicoDet-s_320_lcnet](https://ai.baidu.com/easyedge/app/openSource)
<img width="356" alt="image" src="https://user-images.githubusercontent.com/5187679/201932121-2e751486-977a-4824-84ea-f5f002b6e8e6.png">
https://paddledet.bj.bcebos.com/deploy/third_engine/PP-PicoDet.apk

两个模型应该是一样的

[2022-11-15 13:32] DefTruth commented on #601
按理说不应该这么慢，nova 7 上app中测试过，一般是 22+fps，包含所有的前后处理和渲染时间在内

[2022-11-15 13:39] DefTruth commented on #601
这个apk的源代码有吗？看下具体fps的计算逻辑是咋样的

[2022-11-15 13:49] DefTruth commented on #601
<img width="849" alt="a17f3f10afccf0159d5bf85b319f0e8f" src="https://user-images.githubusercontent.com/31974251/201935386-18b4bc49-e8f4-4d95-bdb1-809ce573ba6f.png">

<img width="499" alt="2d2b4ac8c9aeb79a9901458249049dc1" src="https://user-images.githubusercontent.com/31974251/201935470-6c264826-99d9-4318-a4cb-f167a97e6c45.png">

另外，我看到模型文件的大小和我们目前提供的也并不一样，使用的使用的推理引擎也不一样。方便提供一下这个apk的源码地址吗

[2022-11-15 13:59] leiqing1 commented on #601
印象中，ncnn的picodet demo是使用fp16 + 4线程来运行程序的

[2022-11-15 14:08] chenqianhe commented on #597
如果是ocr完整调用的话，需要这样传入：
[code]
第一个参数时det模型，第二个参数时rec模型

文档实例有一些误导；给的是调用单个模型的改法

也可以通过接口定义看到参数怎么传；不同模型应用可能不太一样

<img width="804" alt="image" src="https://user-images.githubusercontent.com/54462604/201939950-0336524d-3ca3-41f7-b6e6-c097665d85a4.png">

[2022-11-15 14:10] chenqianhe commented on #597
<img width="437" alt="image" src="https://user-images.githubusercontent.com/54462604/201940249-e4c4d0c2-c763-4f84-8d3f-181867535bff.png">

如果是这个的话就是参数传递问题

[2022-11-15 14:42] UygarUsta99 commented on #559
Thanks for the update ! Great work !

[2022-11-16 00:31] denonzhu commented on #601
应该是这个地址
https://github.com/JiweiMaster/PP-PicoDet-Android-Demo

[2022-11-16 00:32] denonzhu commented on #601
截图是4fps,实际平均能达到20左右，但是跟[官方PP-PicoDet](https://github.com/JiweiMaster/PP-PicoDet-Android-Demo)那个比较差了一半

[2022-11-16 00:53] denonzhu opened #602 "咨询：PP-yoloe-r 这个模型能用fastdeploy部署在安卓上吗"
PP-YOLOE-R是一个高效的单阶段Anchor-free旋转框检测模型https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/rotate/ppyoloe_r/README.md

[2022-11-16 02:01] dium6i commented on #597
感谢回复，替换模型的问题已解决。还想再问一下，我下载官方的PPOCR-v3的det和rec推理模型（ https://paddleocr.bj.bcebos.com/PP-OCRv3/chinese/ch_PP-OCRv3_det_infer.tar 和 https://paddleocr.bj.bcebos.com/PP-OCRv3/chinese/ch_PP-OCRv3_rec_infer.tar ）用paddlejsconverter进行转换，得到了如下的结果，似乎是PPOCR-v3的模型不被支持？
![det](https://user-images.githubusercontent.com/75460093/202062856-da17a1c0-efe8-443e-a108-136427a4e150.jpg)
![rec](https://user-images.githubu

[2022-11-16 02:09] jiangjiajun commented on #602
旋转框，目前没支持

[2022-11-16 02:16] chenqianhe commented on #597
@LDOUBLEV 帮忙看下是算子的问题吗

[2022-11-16 02:32] DefTruth commented on #601
感谢您的提问哈，我回复一下这个问题，这里面有几个原因：
- 1. 计算fps的方式不一样，目前fd提供的demo计算fps逻辑是包含：camera渲染、每帧bitmap的创建和回收、模型前处理、模型推理、模型后处理、推理结果可视化、可视化结果转换到bitmap、bitmap绘制等所有的时间在内。我review了下您发的链接中的代码，应该是只统计了模型前处理、模型推理、模型后处理的时间来计算fps
- 2. App环境中运行，由于camera等占用cpu资源，会导致模型推理可用的计算资源变少，因此app中运行，模型的推理耗时会产生波动。以下是使用fd中picodet_s模型，在shell中测试的性能，包含模型推理和所有前后处理的耗时，测试机为华为nova 7 pro、麒麟985 CPU：

<img width="414" alt="image" src="https://user-imag

[2022-11-16 02:34] GuoZhiyong opened #603 "使用TRT对gpu有要求吗？除了版本"
采用Nvidia  T600

Wed Nov 16 10:32:04 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 530.04       Driver Version: 530.04       CUDA Version: 12.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|

[2022-11-16 02:51] dium6i commented on #597
使用PPOCR_v2的模型（ https://paddleocr.bj.bcebos.com/PP-OCRv2/chinese/ch_PP-OCRv2_det_infer.tar 和 https://paddleocr.bj.bcebos.com/PP-OCRv2/chinese/ch_PP-OCRv2_rec_infer.tar ）进行转换，得到如下的结果：
![det-v2](https://user-images.githubusercontent.com/75460093/202071155-402ec395-93b3-4feb-8036-9239391b4b9a.jpg)
![rec-v2](https://user-images.githubusercontent.com/75460093/202071166-37605c09-b707-484c-9f32-034b528693

[2022-11-16 02:51] monkeycc opened #604 "Runtime initialized with Backend::PDINFER in Device::CPU ,为什么是显示CPU"
[FastDeploy][INFO]:  Successfully found CUDA ToolKit from system PATH env -> C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6\bin
[INFO] fastdeploy/vision/common/processors/transform.cc(159)::fastdeploy::vision::FuseNormalizeColorConvert     BGR2RGB and Normalize are fused to Normalize with swap_rb=1
[INFO] fastdeploy/runtime.cc(498)::fastdeploy::Runtime::Init    Runtime initialized with B

[2022-11-16 02:52] jiangjiajun commented on #603
环境cuda版本和cudnn版本分别是多少呢

[2022-11-16 03:07] jiangjiajun commented on #604
卸载现有的fastdeploy-python，安装gpu版本
`pip install fastdeploy-gpu-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html`

同时参考此demo示例，当使用GPU时，需要调用option.UseGpu()，并将option传给模型初始化接口 https://github.com/PaddlePaddle/FastDeploy/blob/develop/examples/vision/detection/paddledetection/python/infer_picodet.py

[2022-11-16 03:15] denonzhu commented on #601
好的感谢，希望优化一个camera的版本，这样这边就能考虑把现有模型部署改成fd的方式了

[2022-11-16 03:15] #602 closed, assigned to nobody

[2022-11-16 03:15] denonzhu commented on #602
好的，感谢

[2022-11-16 03:27] monkeycc commented on #604
`pip install fastdeploy-gpu-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html`

[code]

返回
[code]

在 PaddleDetection 是正常 预测
可以预测出来的
[code]

[2022-11-16 03:58] JackonLiu opened #606 "Segmentation fault"
platform：wsl2 Ubuntu20.0.4
python3.9
onnx==1.12.0
安装方式
pip install fastdeploy-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html
yolov5-5.0
导出方式
python export.py --weights runs/train/exp33/weights/best.pt  --include onnx
运行命令
 root@computer:/mnt/c/Users/Administrator/projects/FastDeploy-develop/examples/vision/detection/yolov5/python# python infer.py --model best.onnx --image 3-3.png --

[2022-11-16 04:01] JackonLiu commented on #307
装gpu版本试试

[2022-11-16 05:22] chfeizy opened #607 "测试了rvm和scrfd都比lite.ai.toolkit里的慢"
rvm在这里用时大概 660ms到750ms
lite.ai.toolkit 大概 115ms到230ms

scrfd这里大概11ms到30ms
lite.ai.toolkit 大概 8ms到20ms

环境是MacBook Pro 2.6 GHz 六核Intel Core i7

[2022-11-16 05:44] JackonLiu commented on #606
已解决，重启wsl2或者电脑即可

[2022-11-16 05:44] #606 closed, assigned to nobody

[2022-11-16 06:12] DefTruth commented on #607
@chfeizy 您好，请问可以提供一下您的测试代码吗？

[2022-11-16 06:13] jiangjiajun commented on #604
麻烦附上模型和测试图片，我们来分析看下

[2022-11-16 07:04] monkeycc commented on #604
https://pan.baidu.com/s/1v9DV3edWsyjJ8LRDyu3Bow?pwd=epoc

训练的模型
导出的模型
图片

[2022-11-16 07:06] chfeizy commented on #607
[code]

rvm 的

[2022-11-16 07:20] DefTruth commented on #607
@chfeizy lite.ai.toolkit的测试代码有吗？方便也提供一份不？

[2022-11-16 08:05] monkeycc opened #610 "vision.vis_detection 可以自定义颜色吗"
vision.vis_detection 可以自定义颜色吗

比如我要全部统一红色

[2022-11-16 08:29] monkeycc opened #612 "如何获取 result 里面的参数"
[code]

[xmin, ymin, xmax, ymax, score, label_id]
想要单独获取其中的参数

比如 score
result[4]

但是报错

不知道怎么样获取

[2022-11-16 08:31] jiangjiajun commented on #612
https://baidu-paddle.github.io/fastdeploy-api/ C++/Python结构体，函数的定义，都可以在这里面查询

[2022-11-16 09:22] monkeycc commented on #612
python 不知道怎么调用
这个结构体 fastdeploy.vision.DetectionResult

`https://baidu-paddle.github.io/fastdeploy-api/python/html/vision_results_cn.html
`
[code]

[2022-11-16 09:25] monkeycc commented on #612
已解决

[2022-11-16 09:25] #612 closed, assigned to nobody

[2022-11-17 01:19] chfeizy commented on #607
[code]
参数配置的0.4

[2022-11-17 02:59] jiangjiajun commented on #604
我在PaddleDetection中使用这个导出来的模型进行了测试，在deploy目录下执行了下面命令
[code]
输出结果如下
[code]

然后安装了最新的FastDeploy
[code]
进入到FastDeploy example目录`FastDeploy/examples/vision/detection/paddledetection/python，执行如下命令
[code]
输出结果如下
[code]
两者结果基本一致

[2022-11-17 03:02] DefTruth commented on #607
感谢您的反馈哈~ 我们的同学正在排查具体的原因

[2022-11-17 03:17] wjj19950828 commented on #607
@chfeizy 这里有两点需要对齐下

- lite.ai.toolkit默认CPU后端为ONNXRuntime
- lite.ai.toolkit线程数使用为4个线程

所以先对齐一下，在FastDeploy 模型初始化阶段使用如下代码

[code]

[2022-11-17 04:57] GuoZhiyong commented on #603
cuda 11.2 cudnn 8.6.0.163

感觉是我的T600 4G显存有些小。可能有memory limit的配置或限制

[2022-11-17 06:19] jiangjiajun commented on #603
如果只有4G，建议跑一些小的模型

[2022-11-17 08:05] LDOUBLEV commented on #597
paddle.js 只支持固定shape的预测，现在PaddleOCR导出的inferencemodel都是动态shape的（h,w维度为-1）导致
paddle.js converter转模型后，h,w维度为1，解决方案如下：

重新导出inference model，导出inference model时，修改为固定shape；
以OCR检测为例：
修改 导出的shape ：https://github.com/PaddlePaddle/PaddleOCR/blob/44e60e81cc9a6e801f31080205734ff3069df675/tools/export_model.py#L161 为  infer_shape = [3, 960, 960]

重新导出inference model ，再使用paddlejsconvert导出js模型。

导出后确认下model.jso

[2022-11-17 08:40] dium6i commented on #597
修改后导出模型的model.json里的h, w维度正常了，但是网页端模型加载还是出问题，停留在正在加载模型的页面。console里的信息如下：（图片和txt）
![console](https://user-images.githubusercontent.com/75460093/202397544-ef271c75-1993-409e-b8f8-832294ecb058.jpg)
[1668674262817.log](https://github.com/PaddlePaddle/FastDeploy/files/10029437/1668674262817.log)

可以帮忙看看是哪里的问题么？ @chenqianhe

[2022-11-17 08:42] chenqianhe commented on #597
刷新重进或者换个浏览器试试，或者换个独显的电脑？您这边电脑显卡配置可以说一下吗？

[2022-11-17 08:46] dium6i commented on #597
我的电脑是AMD的集成显卡。但是使用web demo默认的模型时我的集显电脑也是可以正常识别的。只要是独显的电脑（N卡A卡）都可以么？

[2022-11-17 08:48] chenqianhe commented on #597
刷新或换浏览器试试；我这边也在集显电脑出现正常情况，但有时候换个浏览器就正常了。然后独显基本没遇到过。

或者是你如果要适配大多数情况，就得看下Paddle.js库，然后把backend替换成cpu的

[2022-11-17 09:01] dium6i commented on #597
好的，我先找电脑多试试看。

[2022-11-17 09:18] forword-1234 opened #621 "OCR 使用tensorrt 推理报错"
python infer.py --det_model ./ch_PP-OCRv3_det_infer --cls_model ./ch_ppocr_mobile_v2.0_cls_infer --rec_model ./ch_PP-OCRv3_rec_infer --rec_label_file ppocr_keys_v1.txt --image 22.jpg --device gpu --backend trt
[INFO] fastdeploy/backends/tensorrt/trt_backend.cc(466)::BuildTrtEngine Start to building TensorRT Engine...
[ERROR] fastdeploy/backends/tensorrt/trt_backend.cc(238)::log   4: [graphShapeAna

[2022-11-17 10:56] jiangjiajun commented on #621
你的GPU型号是什么呢

[2022-11-17 11:01] monkeycc commented on #604
感谢 辛苦

也是奇怪

PaddleDetection测试
我这边也是正常
导出模型 FastDeploy 的代码测试
就出现以上的报错

我这边再排除一下问题
看看能不能复现

[2022-11-17 11:33] jiangjiajun commented on #604
试下安装最新的FastDeploy哈
pip install fastdeploy-gpu-python==0.0.0 -f https://www.paddlepaddle.org.cn/whl/fastdeploy_nightly_build.html

[2022-11-17 12:24] yunyaoXYY commented on #621
Hi，你好，

1.跑的时候除了换了一张图片，其他并无改动是吗？（是的话，可否分享一下这个图片复现一下)
2.TensorRT的版本用的是多少呢？
3.有尝试过多次运行这个infer.py脚本吗，是否每次都出现这个错误？

[2022-11-17 16:56] albyho opened #626 "[RobustVideoMatting]example 中 Infer.cc 调用 fastdeploy::vision::SwapBackground 方法应该使用 res.foreground 而非原图进行 blend"
如题

[2022-11-18 02:19] DefTruth commented on #626
由于并非所有的抠图模型都会预测前景，所以目前我们提供的换背景的辅助函数是使用原图+alpha进行blending。对于有预测foreground的抠图模型，可以将foreground转换成cv::Mat后，再调用SwapBackground函数

[2022-11-18 02:32] forword-1234 commented on #621
1,是的就是换了一张图片，其他的没有改动
2,GPU 是3090 ，cuda 11.6, tensorrt 8.4.1.5
3,多次尝试 CPU, GPU 都可以正常识别，就是使用tensorrt 报这个错误

[2022-11-18 03:03] wjj19950828 commented on #559
@UygarUsta99 hi，now yolov7 batch_predict is support
demo：
[code]

[2022-11-18 03:24] monkeycc opened #629 "vision.detection.MaskRCNN 如何进行裁剪图片"
想要把识别出来的  裁剪图片出来

[code]

PaddleX中 我看有可以解析mask的
但是fastdeploy 不知道怎么实现
想要把识别出来的  裁剪图片出来

或者不能用语义分割来裁剪
要用实例分割?

[2022-11-18 03:40] forword-1234 commented on #621
我是直接 通过pip 安装的 没有通过编译安装，是这个问题吗

[2022-11-18 04:11] miknyko commented on #559
I installed fastdeploy-gpu-python==0.7.0, and still got error "YOLOv7 object has no attribute "batch_predict""

[2022-11-18 04:58] yunyaoXYY commented on #621
Hi, 可以试试单独把det模型关闭trt， cls模型和rec模型开启trt试一试. 这个问题我后续会排查

[2022-11-18 07:43] albyho commented on #626
请问是这样吗？

[code]

[2022-11-18 08:03] UygarUsta99 commented on #559
Yolov5 batch prediction works,yolov7 does not.I have also installed the latest pip wheel.Also when can we use yolov5 with tensorrt(including batch prediction and dynamic batch prediction) ?

[2022-11-18 13:29] monkeycc opened #634 "AttributeError: module 'paddle.vision.ops' has no attribute 'generate_proposals'"
[code]

除了改数据集
其他的都没动

[2022-11-18 13:29] #634 closed, assigned to nobody

[2022-11-18 13:50] monkeycc commented on #604
知道什么问题了

因为WIN环境问题
转换模型必须要用PaddleDetection 2.4
但是训练在PaddleDetection 2.5 目录

转换模型 切换到PaddleDetection2.4
但是 数据配置 没有复制过来

导致导出的模型 有问题

[2022-11-18 13:50] #604 closed, assigned to nobody

[2022-11-20 08:47] albyho opened #637 "[RobustVideoMatting]推理速度比官方慢的问题"
环境：
OS: macOS 12.6 (Apple M1)
测试集：仅一张 1440*960 的 jpg 人像图片

----

FastDeploy C++ infer.cc 代码修改：
[code]

测试脚本：

[code]

模型：rvm_mobilenetv3_fp32.onnx
CPU 使用率：250% 左右
耗时：400ms 以上

----

RobustVideoMatting 官方 inference.py 代码修改：

[code]

测试脚本：

[code]

模型：rvm_mobilenetv3.pth
CPU 使用率：250% 左右（用 FastDeploy 差不多）
耗时: 180 ~ 200ms

[2022-11-21 01:27] forword-1234 commented on #621
直接加载 tensorrt 转换好的模型 报错找不到输出层

python infer.py --det_model ch_PP-OCRv3_det_infer --cls_model ch_ppocr_mobile_v2.0_cls_infer --rec_model ch_PP-OCRv3_rec_infer --rec_label_file ppocr_keys_v1.txt --image 22.jpg --device gpu --backend trt
[INFO] fastdeploy/runtime.cc(513)::Init Runtime initialized with Backend::PDINFER in Device::GPU.
[INFO] fastdeploy/backends/tensorrt/trt_backend.cc(623)::CreateTrtE

[2022-11-21 02:22] yunyaoXYY commented on #621
1.这个op就在分类模型的结尾处呀..很奇怪, 你的模型都是从我们提供的链接下载的吗？
2.是否尝试过我上一条说的那种办法？把det的trt给关掉，可以看看后两个模型是否可行.
3.我看你的上一条log有些奇怪，读了两次rec模型的trt cahce， 报的op找不到是属于分类模型
4.是否方便留个联系方式，方便解决你的问题

[2022-11-21 02:47] forword-1234 commented on #621
1. 都是你们提供的模型
2. 尝试了 是可以的，我打开了保存tensorrt的模型 rec_option.set_trt_cache_file(args.rec_model  + "/rec_trt_cache.trt") 再次运行的时候 就报上面的错误
3. 我的微信 18845426042

[2022-11-21 06:28] JackonLiu opened #643 "Python API可视化增加标签展示"
platform：windows10
python3.8
onnx==1.12.0
安装方式
pip install fastdeploy-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html
yolov5-5.0
导出方式
`python export.py --weights runs/train/exp33/weights/best.pt --include onnx`

       result = model.predict(im.copy())
        print(result)
        print(frame_index)
        t3 = time.time()
        print('detect frames: %.4f frames/s' % (1 / (t3 - t

[2022-11-21 06:39] wjj19950828 commented on #559
@miknyko Install the Develop version
[code]

[2022-11-21 06:43] wjj19950828 commented on #559
@UygarUsta99 YOLOv5 batch predict with tensorrt
[code]

YOLOv7 is same as YOLOv5

[2022-11-21 07:12] jiangjiajun commented on #643
你好，我们已经在C++接口增加传入label_list来支持可视化展示标签的功能，Python API会在这周0.8版本增加进去

[2022-11-21 07:15] JackonLiu commented on #643
是将数字转换为字符串对吧？

[2022-11-21 07:23] jiangjiajun commented on #643
用法类似
[code]

可视化后即会对应Label_id将数字转化对应的字符串

[2022-11-21 07:37] JackonLiu commented on #643
了解了，多谢解答，期待更新

[2022-11-21 07:37] #643 closed, assigned to jiangjiajun

[2022-11-21 10:31] TWK2022 commented on #559
我试了下YOLOLV7批量预测和单张预测，平均到每张图片上的预测时间基本一样，貌似批量预测并没有提高速度，请问您们测的结果中批量预测会提高多少呢

[2022-11-21 10:34] TWK2022 commented on #559
您好，我试了一下YOLOV7的批量预测和单张预测，平均到每张图片上的预测时间基本一样，貌似批量预测不能提高预测速度，请问您们测试的结果中批量预测会提高多少呢

[2022-11-21 13:26] wjj19950828 commented on #559
@TWK2022 完整的测试脚本以及图片麻烦发我一份吧

[2022-11-21 13:49] wmpscc opened #650 "[模型支持] 期望能够支持paddleOCR 中的版面分析模型"
Hardware: x86 CPU
OS: Linux
Model name: picodet_lcnet_x1_0_fgd_layout
Model link: [picodet_lcnet_x1_0_fgd_layout](https://github.com/PaddlePaddle/PaddleOCR/blob/dygraph/ppstructure/docs/models_list.md)
Detailed Description: Example: 还没发现本框架有支持版面分析模型，有这方面需求。能否以picodet_lcnet_x1_0_fgd_layout模型为例，提供一个版面分析模型deploy.

[2022-11-21 15:57] jiangjiajun commented on #650
Hi，你认为目前现有PaddleOCR里的版本分析模型的部署方案有哪些点觉得需要提升吗

[2022-11-22 03:07] TWK2022 commented on #559
windows  GPU_4G  cuda11.6  模型：您们官方的YOLOV7.onnx   图片：您们官方放风筝的那张图片
【代码】
import cv2
import time
import argparse
import fastdeploy
# -------------------------------------------------------------------------------------------------------------------- #
parser = argparse.ArgumentParser()
parser.add_argument('--path_model', default='yolov7.onnx', type=str)
parser.add_argument('--path_image', default='ima

[2022-11-22 03:18] TWK2022 commented on #559
windows GPU_4G cuda11.6 模型：您们官方的YOLOV7.onnx 图片：您们官方放风筝的那张图片
【代码】
import cv2
import time
import argparse
import fastdeploy
parser = argparse.ArgumentParser()
parser.add_argument('--path_model', default='yolov7.onnx', type=str)
parser.add_argument('--path_image', default='image/001.jpg', type=str)
parser.add_argument('--device', default='gpu', type=str)
parser.add_argument('--inference', default='tr

[2022-11-22 03:47] wjj19950828 commented on #637
@albyho
hi，上面测速脚本有两个问题：
- FastDeploy predict接口包含前后处理耗时，但RVM官方inference.py不包含前后处理
- 使用clock()是以秒为单位，不准确，建议使用chrono库

我这边相同环境测试结果如下：

环境：CPU: Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
后端：FastDeploy ONNXRuntime CPU vs RVM TorchScript CPU
结果：共100次测速，前20次warmup，后80次取平均

来源 | Runtime(ms) | End2End(ms)
-- | -- | --
FastDeploy RVM demo | 119.57 | 162.08
RVM TorchScript | 556.23 | 581.83

CPU上，FastDeploy 都

[2022-11-22 04:02] albyho commented on #637
PrintStatisInfoOfRuntime 是准确的，之前我误认为慢是因为评测方式问题。

[code]

[code]

[2022-11-22 04:03] albyho commented on #637
@wjj19950828 非常感谢。

PrintStatisInfoOfRuntime 是准确的，之前我误认为慢是因为评测方式问题。

[code]

[code]

[2022-11-22 04:03] #637 closed, assigned to wjj19950828

[2022-11-22 04:35] wmpscc commented on #650
原部署方案依赖的框架较大，需要更多的运行内存。期望一个更精简的方案。

[2022-11-22 07:04] #626 closed, assigned to wjj19950828, DefTruth

[2022-11-22 11:29] denonzhu opened #662 "picodet 训练的模型安卓报错，用的是configs/picodet/picodet_s_416_coco_lcnet.yml"
<img width="1319" alt="image" src="https://user-images.githubusercontent.com/5187679/203303091-7f212853-84dd-46bd-a7a9-851ca56c0281.png">

[2022-11-22 11:30] denonzhu commented on #662
<img width="869" alt="image" src="https://user-images.githubusercontent.com/5187679/203303353-7332f02d-9e1a-40ba-acd6-e71b7997d21d.png">
模型eval正常，使用默认命令导出，但是导出的模型再安卓直接报错，闪退

[2022-11-22 11:31] denonzhu commented on #662
模型文件
[Uploading 归档.zip…]()

[2022-11-22 11:48] denonzhu opened #664 "fd安卓部署为啥不能支持paddlite 导出的nb模型，这样性能会不会更好点"

[2022-11-22 11:57] jiangjiajun commented on #664
性能是一样的。 后面PaddleLite也会更推荐大家直接使用Paddle格式

[2022-11-22 11:59] DefTruth commented on #662
@denonzhu 请问是用哪里的android代码来跑的这个模型呢？

[2022-11-22 12:06] denonzhu commented on #662
就是当前最新开发分支的代码

[2022-11-22 12:07] denonzhu commented on #662
你把我上面导出的模型，替换原代码里面的文件，运行就立马闪退，断点代码，发现是在做预测的时候崩溃了

[2022-11-22 12:08] DefTruth commented on #662
是哪个目录下的？因为刚刚更新了代码

[2022-11-22 12:09] denonzhu commented on #662
华为nova8 pro运行报错日志：
<img width="1424" alt="image" src="https://user-images.githubusercontent.com/5187679/203310332-5970dc35-37d9-46b4-a988-8671318046ae.png">

[2022-11-22 12:10] DefTruth commented on #662
我们排查一下哈，可以提一下您替换的代码部分吗？

[2022-11-22 12:10] denonzhu commented on #662
小米9 运行日志：
<img width="1320" alt="image" src="https://user-images.githubusercontent.com/5187679/203310612-ff25d59c-2932-43fc-a3ed-540037893de7.png">

[2022-11-22 12:12] denonzhu commented on #662
修改代码如下：

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/5187679/203310765-35949f0c-101c-4dc3-a857-93669b08cb38.png">
<img width="971" alt="image" src="https://user-images.githubusercontent.com/5187679/203310830-ce576b37-faf5-497b-936a-42c40c11759b.png">
<img width="971" alt="image" src="https://user-images.githubusercontent.com/5187679/203310883-d703cd37-9302-46c6-9fe

[2022-11-22 12:14] denonzhu commented on #662
这个模型就是用picodet官方默认配置文件训练的,导出代码未添加任何参数
`python tools/export_model.py -c  configs/picodet/picodet_s_416_coco_lcnet.yml --output_dir=./inference \
  -o weights=./output/picodet_s_416_coco_lcnet/best_model.pdparams`

[2022-11-22 12:15] denonzhu commented on #662
跟刚刚更新的代码无关，官方的模型是可以正常运行，自己训练的不行。我刚刚更新最新代码，还是一样的报错，替换回官方的模型就正常

[2022-11-22 12:18] DefTruth commented on #662
好的，我们排查一下

[2022-11-22 12:19] denonzhu commented on #664
但是我看通过 paddle lite工具导出的模型会更小一点，是不是导出成nb格式的时候还做了裁剪

[2022-11-22 12:20] DefTruth commented on #662
这个模型文件地址是空的

[2022-11-22 12:46] saeedkhanehgir opened #666 "deploying ppocr_v2 with only recognition model"
Hi
Thanks for sharing this project.
I want to change **ppocr_v2** to get **only the recognition** model (for conditions where we have another detection model such as Yolo and I would like to use only the recognition ppocr model). I am working on the **0.7.0** release. I use this [instruction](https://github.com/PaddlePaddle/FastDeploy/blob/release/0.7.0/docs/en/faq/develop_a_new_model.md) for this

[2022-11-22 13:03] saeedkhanehgir commented on #535
Thanks @jiangjiajun
for **ppyolo-tiny** model, I added **Backend::ORT** to **valid_cpu_backends** and rebuilt it again and it worked.
Excuse me, I have another question. for raspberry **aarch64** Is the **lite backend** better than the **ort backend**?

[2022-11-22 13:10] jiangjiajun commented on #535
Yes, also Lite backend supports half precision(fp16) and int8 quantization model in arm.

[2022-11-22 13:15] jiangjiajun commented on #666
Refer to this line of code, add a declaration before `PPOCRv4`
https://github.com/PaddlePaddle/FastDeploy/blob/521ec87cf5f55190489059a07ad4c074563c1ace/fastdeploy/vision/ocr/ppocr/ppocr_v3.h#L26

[2022-11-22 13:20] jiangjiajun commented on #664
基本一样，如果是量化的格式，会减少转换后的体积

[2022-11-22 13:37] saeedkhanehgir commented on #666
@jiangjiajun
Unfortunately, I did not understand what to do. Can you be more specific?

[2022-11-22 13:39] jiangjiajun commented on #666
I think you are create a new class `PPOCRv4` like this
[code]

But we need to add a declaration before the definition, like
[code]

[2022-11-23 01:05] denonzhu commented on #664
明白了

[2022-11-23 01:05] #664 closed, assigned to nobody

[2022-11-23 01:07] denonzhu commented on #662
我上传到网盘试试，网盘地址： 链接: https://pan.baidu.com/s/1iltkLk9NdNe22mO5yx_53g?pwd=vnpk 提取码: vnpk

[2022-11-23 01:08] denonzhu commented on #662
[picodet_416_waybill.zip](https://github.com/PaddlePaddle/FastDeploy/files/10072198/picodet_416_waybill.zip)

[2022-11-23 01:08] denonzhu commented on #662
我重新上传了一下

[2022-11-23 02:07] JackonLiu opened #669 "windows/Ubuntu C++ SDK 标签ID不一致的问题"
platform：windows10
python3.8
onnx==1.12.0
安装方式
pip install fastdeploy-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html
yolov5-5.0
导出方式
python export.py --weights runs/train/exp33/weights/best.pt --include onnx

windows C++ SDK 编译方式是参考这个文档：use_sdk_on_windows.md
`
E:\program\fastdeploy-win-x64-gpu-0.2.1\examples\vision\detection\yolov7\cpp\build\Release>infer.exe models/cable.onnx photo

[2022-11-23 02:12] Abris-087 opened #670 "FastDeploy部署PaddleDetection模型"
您好，请问如何利用FastDeploy部署PaddleDetection训练出的yolov5模型？  我想把.pdmodel和.pdiparams转化成onnx格式，但是调用paddle2onnx出现了如下报错。
![1669169408897](https://user-images.githubusercontent.com/61613537/203456960-ca3df049-74d0-4cab-a0d6-8ad2b052e78d.jpg)

[2022-11-23 02:53] jiangjiajun commented on #670
PaddleDetection的YOLOv5目前还没支持，正在支持中哈

[2022-11-23 03:05] DefTruth commented on #662
好的哈~ 我们的同学近期会来跟进这个问题哈

[2022-11-23 03:18] athmoon opened #672 "ERROR: No matching distribution found for fastdeploy-gpu-python"
pip install fastdeploy-gpu-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html
Looking in links: https://www.paddlepaddle.org.cn/whl/fastdeploy.html
ERROR: Could not find a version that satisfies the requirement fastdeploy-gpu-python (from versions: none)
ERROR: No matching distribution found for fastdeploy-gpu-python

[2022-11-23 03:19] athmoon commented on #672
PS C:\Users\moonpc> python -V
Python 3.11.0
PS C:\Users\moonpc> pip --version
pip 22.3.1 from D:\prog\install\Python\Python311\Lib\site-packages\pip (python 3.11)

[2022-11-23 03:51] JackonLiu opened #673 "./infer_demo: error while loading shared libraries: libpaddle2onnx.so.1.0.1: cannot open shared object file: No such file or directory"
platform：wsl2 Ubuntu20.0.4
python3.9
onnx==1.12.0
安装方式
pip install fastdeploy-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html

步骤参考文档：FastDeploy-develop\examples\vision\detection\yolov7\cpp\README.md

步骤一切顺利，但是推理时报错
`(base) root@computer:/mnt/c/Users/Administrator/projects/FastDeploy-develop/fastdeploy-linux-x64-0.6.0/examples/vision/detection/yolov7/cpp/build# ./infer_demo yolov7.on

[2022-11-23 03:57] jiangjiajun commented on #673
Hi, @JackonLiu 麻烦手动将这个文件 https://github.com/PaddlePaddle/FastDeploy/blob/develop/scripts/fastdeploy_init.sh 拷贝到你的目录`/mnt/c/Users/Administrator/projects/FastDeploy-develop/fastdeploy-linux-x64-0.6.0/`下，然后执行 `source /mnt/c/Users/Administrator/projects/FastDeploy-develop/fastdeploy-linux-x64-0.6.0/fastdeploy_init.sh`

这样会将库添加到你的环境变量，让可执行二进制程序找到相应的.so

[2022-11-23 03:57] jiangjiajun commented on #672
Currently, only python3.6 ~ 3.10 are supported

[2022-11-23 04:04] athmoon commented on #672
yes,I just tried 3.10, Thanks!

[2022-11-23 04:05] #672 closed, assigned to nobody

[2022-11-23 05:22] jiangjiajun commented on #673
另外我们最新版本已经更新到0.8.0，可下载最新版本使用

[2022-11-23 05:52] athmoon commented on #672
becauseof conda, It's better to use python 3.9.
https://repo.anaconda.com/miniconda/Miniconda3-py39_4.12.0-Windows-x86_64.exe
https://www.python.org/ftp/python/3.9.13/python-3.9.13-amd64.exe

[2022-11-23 06:09] JackonLiu commented on #673
error while loading shared libraries: libopencv_video.so.3.4: cannot open shared object file: No such file or directory
按照您的方法去试了下，又出现了上面这个问题

[2022-11-23 07:36] namemzy commented on #621
我遇到了同样的问题。
环境：3090，cuda11.2, fastdeploy-gpu-python 0.7.0
python3 infer.py --det_model ch_PP-OCRv3_det_infer --cls_model ch_ppocr_mobile_v2.0_cls_infer --rec_model ch_PP-OCRv3_rec_infer --rec_label_file ppocr_keys_v1.txt --image 12.jpg --device gpu --backend trt
[INFO] fastdeploy/backends/tensorrt/trt_backend.cc(479)::BuildTrtEngine	Start to building TensorRT Engine...
[ERROR] fastdeploy/backends/t

[2022-11-23 07:44] yunyaoXYY commented on #621
已经修复，请参考:
https://github.com/PaddlePaddle/FastDeploy/blob/develop/examples/vision/ocr/PP-OCRv3/python/infer.py

[2022-11-23 07:49] jiangjiajun commented on #673
建议先删除本地0.6.0的版本，然后下载0.8.0的版本。 我们在0.8.0版本里面内置了fastdeploy_init.sh（此前版本init.sh存在问题）

[2022-11-23 08:05] namemzy commented on #621
试了一下，成功了，谢谢！

[2022-11-23 08:43] JackonLiu commented on #673
(base) root@computer:/mnt/c/Users/Administrator/projects/FastDeploy-develop/FastDeploy-release-0.8.0/examples/vision/detection/yolov7/cpp/build# wget https://bj.bcebos.com/fastdeploy/release/cpp/fastdeploy-linux-x64-0.8.0.tgz
--2022-11-23 16:43:05--  https://bj.bcebos.com/fastdeploy/release/cpp/fastdeploy-linux-x64-0.8.0.tgz
Resolving bj.bcebos.com (bj.bcebos.com)... 220.181.33.43, 220.181.33.44,

[2022-11-23 08:46] JackonLiu commented on #673
我用0.7.0版本的也有问题，把FastDeploy-release-0.8.0里的fastdeploy_init.sh复制过来还是有问题

[2022-11-23 08:58] jiangjiajun commented on #673
贴一下执行source后的日志提示，同时检查一下日志中列的路径下，是否存在文件

[2022-11-23 09:05] JackonLiu commented on #673
(base) root@computer:/mnt/c/Users/Administrator/projects/FastDeploy-develop/FastDeploy-release-0.8.0/examples/vision/detection/yolov7/cpp/build/fastdeploy-linux-x64-0.7.0# source fastdeploy_init.sh
Import environment variable from FastDeploy...
FastDeploy Lib: /mnt/c/Users/Administrator/projects/FastDeploy-develop/FastDeploy-release-0.8.0/examples/vision/detection/yolov7/cpp/build/fastdeploy-linux

[2022-11-23 09:15] JackonLiu commented on #673
error while loading shared libraries: libcore_tokenizers.so: cannot open shared object file: No such file or directory
现在的报错又成了这个

[2022-11-23 10:07] namemzy opened #680 "FP32、FP16、INT8精度相关"
请问FastDeploy的PP_OCR_v3是否支持FP32、FP16、INT8的推理部署？另外多batch推理如何开启？

[2022-11-23 11:03] yunyaoXYY commented on #680
1.FP32肯定支持，FP16需要在用trt后端时，设置option.enable_trt_fp16()来开启
2.根据我们的测试，PPOCR系列做INT8量化没有加速，反而影响精度，所以一键压缩模型工具没有支持, 但是你可以使用paddleslim量化后，直接部署INT8模型，和部署FP32模型没有差异.
3.多batch推理目前已在cls模型和rec模型自动支持上了，不需要开关，如果你想要给det模型也加上多batch推理，修改ppocrv3.predict()的输入，输入一个list的图片，也就开启了det模型的多batch推理

[2022-11-23 11:04] wjj19950828 commented on #669
@JackonLiu 麻烦提供一下ONNX模型吧，另外可以看下可视化结果是否正确

[2022-11-23 11:33] jiangjiajun commented on #673
wget https://bj.bcebos.com/fastdeploy/release/cpp/fastdeploy-linux-x64-0.8.0.tgz  0.8版本已经上传

[2022-11-23 11:35] jiangjiajun commented on #673
https://bj.bcebos.com/fastdeploy/release/cpp/fastdeploy-linux-x64-0.8.0.tgz 0.8版本已经上传，使用这个版本吧

[2022-11-23 13:26] huyuejingling opened #684 "运行错误"
linux(ubuntu 18.04)编译成功后，运行测试 报错 Illegal instruction (core dumped),是因为cpu 指令不支持吗？

[2022-11-23 13:54] jiangjiajun commented on #684
拉预编译的包，可以正常使用吗？

[2022-11-23 13:55] huyuejingling commented on #684
同样的错误，我才自己编译的，结果还是一样

[2022-11-23 15:03] jiangjiajun commented on #684
是在哪一行报错的，有截图吗

[2022-11-24 01:00] huyuejingling commented on #684
![image](https://user-images.githubusercontent.com/7887096/203671269-f0c9cc07-0d77-447b-9cb2-70241756af97.png)
引入的时候就会报错

[2022-11-24 01:21] JackonLiu commented on #673
还是有问题
 cd fastdeploy-linux-x64-0.8.0
(base) root@computer:/mnt/c/Users/Administrator/projects/FastDeploy-develop/FastDeploy-release-0.8.0/examples/vision/detection/yolov7/cpp/build/fastdeploy-linux-x64-0.8.0# source fastdeploy_init.sh
Import environment variable from FastDeploy...
FastDeploy Lib: /mnt/c/Users/Administrator/projects/FastDeploy-develop/FastDeploy-release-0.8.0/examples/vision/detect

[2022-11-24 01:25] JackonLiu commented on #669
抱歉，这属于公司机密，无法提供，可视化结果没出来，什么也没检测到

[2022-11-24 01:28] jiangjiajun commented on #673
/mnt/c/Users/Administrator/projects/FastDeploy-develop/FastDeploy-release-0.8.0/examples/vision/detection/yolov7/cpp/build/fastdeploy-linux-x64-0.8.0/third_libs/install/opencv/lib64 这个路径下有.so吗

[2022-11-24 01:42] JackonLiu commented on #673
有

[2022-11-24 01:45] yz2yz opened #685 "Runtime运行结果和onnxruntime、pytorch不一致"
通过pytorch训练导出的onnx模型，pytorch和onnxruntimer推理结果一致；但是和fastdeploy的输出结果不一致。
为了验证，使用了infer_onnx_onnxruntime.py改造下，固定输入（原有示例是随机输入），发现和onnxruntime的也不一致。
import fastdeploy as fd
from fastdeploy import ModelFormat
import numpy as np
import cv2

model_url = "https://bj.bcebos.com/fastdeploy/models/mobilenetv2.onnx"
fd.download(model_url, path="./temp")

def prev_proc(img:np.ndarray):

    # img = cv2.cvtColo

[2022-11-24 01:47] ZXH109030 opened #686 "希望c#也能用fastdeploy部署"
c#广泛用于工业应用场景，尤其是制造业。反而，C++的应用在这一块是很少的，请求有C#调用的方法

[2022-11-24 01:53] jiangjiajun commented on #673
fastdeploy_init.sh本质上就是通过export LD_LIBRARY_PATH将库路径加入到环境变量。如果你确认这个目录下有libopencv_video.so但是执行二进制时找不到，可以手动将路径加入到环境变量试下

[2022-11-24 01:55] jiangjiajun commented on #685
上传一下模型和测试图片，我们复现下看看

[2022-11-24 01:59] yz2yz commented on #685
![__roi](https://user-images.githubusercontent.com/37030617/203676996-47c3a0fb-35a0-413d-8217-a8a40d951799.jpg)
测试图片已上传；
以上脚本中用的模型是 官方示例里的 https://bj.bcebos.com/fastdeploy/models/mobilenetv2.onnx
自己的模型超过25M，无法上传。

[2022-11-24 02:35] DefTruth commented on #662
@denonzhu 已经复现出相同的情况，我们正在排查具体的问题哈

[2022-11-24 02:43] JackonLiu commented on #673
不知道为何，环境变量已经配好了，就是不生效，算了，我放弃了，感谢您的解答

[2022-11-24 02:46] DefTruth commented on #662
另外，能否提供一张可正常输出检测结果的测试图片呢？

[2022-11-24 02:59] wjj19950828 commented on #669
@JackonLiu 原生ONNX结果正确吗，可以提供一个效果不是那么好的ONNX，主要看下前后处理能否对齐

[2022-11-24 03:42] thomas-yanxin commented on #369
➕1

[2022-11-24 03:48] JackonLiu commented on #669
原生的onnx是正常的，我感觉问题出在编译的exe文件上，好像默认用的是coco的数据集打包的，还有个问题就是用编译出来的exe做推理检测效果变差了，有些我能用pt文件检测出来的，但是用exe+onnx却检测不出来了，你们可以检查下

[2022-11-24 04:01] JackonLiu commented on #643
我已更新至0.8，但是还是不行

[2022-11-24 04:14] jiangjiajun commented on #643
。。。研发压力太大，会在周末的版本release出来

[2022-11-24 05:16] wzy123456wzy commented on #6
有没有支持windows 32?

[2022-11-24 05:19] jiangjiajun commented on #685
@yz2yz Hi， 感谢你的反馈，我复现了你的问题。这个问题原因分析如下

1. numpy在做处理过程中，最终得到的img已经不是一个内存连续的数据
2. FD的python接口，在接收到传入来的numpy时，没有拷贝numpy的内存，而是直接拿到内存开始的指针
3. 由于内存不连续，底层推理出错

当前的处理方式，你在执行`runtime.infer({"inputs": img})` 这一行时，可以改成
[code]

为了在FD解决这个问题，我同步提了另外一个PR来处理非连续内存输入的问题 https://github.com/PaddlePaddle/FastDeploy/pull/689

[2022-11-24 05:25] jiangjiajun commented on #6
如果有外部开发者有兴趣来做这个事的话，我可以帮忙一起Review和说明如何集成

[2022-11-24 05:26] jiangjiajun commented on #6
Tracking已经集成支持

[2022-11-24 05:26] jiangjiajun commented on #6
现在都基本是Windows x64了呢，你在什么场景下还依赖windows 32呢

[2022-11-24 05:33] JackonLiu commented on #643
哈哈哈哈，没关系，不急， 期待，辛苦了

[2022-11-24 06:36] namemzy commented on #680
好的，谢谢！
前两条没问题，第三条，
ppocrv3.predict()不能支持多batch推理，可以用ppocr_v3.batch_predict()
但是我用多batch推理之后，并没有获得速度的提升，测试结果如下：
Ubuntu 20.04 Server
CPU：Gold 6226R
GPU：RTX 3090
CUDA：11.2
Paddle：paddlepaddle-gpu      2.3.2.post112
Fastdeploy：fastdeploy-gpu-python 0.8.0
Python：3.8.15
表中所有时间均换算为单张图片耗时，单位ms
![微信截图_20221124143409](https://user-images.githubusercontent.com/33368578/203711169-82c1c412-c8cb-4c53-bba7-54897

[2022-11-24 06:37] wjj19950828 commented on #559
@TWK2022 我这边测试结果如下：

### 环境
CPU: Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
GPU：T4
CUDA：11.7
Cudnn：8.4
Python：3.7
TensorRT：8.4.3.1

### 结果

输入大小 | Runtime(ms) | Average Runtime(ms) | End2End(ms) | Average End2End(ms)
-- | -- | -- | -- | --
1x3x640x640 | 27.03 | 27.03 | 31.41 | 31.41
4x3x640x640 | 104.98 | 26.24 | 127.05 | 31.76
8x3x640x640 | 215.35 | 26.92 | 261.61 | 32.70
16x3x640x640 | 451.92 | 2

[2022-11-24 06:49] yz2yz commented on #685
太感谢了

[2022-11-24 07:02] wzy123456wzy opened #690 "是否支持windows32位编译？"
是否支持windows32位编译？

[2022-11-24 07:14] heliqi commented on #559
主要是GPU卡的问题，在测试时可以观察下GPU的利用率。
如果batch=1时，GPU利用率已经很高，这时用更大的batch，GPU因为算不过来不会带来性能提升；
如果GPU利用率比较低，改用更大batch就可以明显感受到性能提升。

[2022-11-24 07:25] chfeizy commented on #607
<img width="561" alt="image" src="https://user-images.githubusercontent.com/6427629/203719386-9d1a2537-511d-4af3-8e9d-985a999d08ff.png">
(base) also@alsoMacBookPro build % ./infer_demo
[INFO] fastdeploy/runtime.cc(496)::Init Runtime initialized with Backend::ORT in Device::CPU.
Image size: 720X1280
time: 689
Image size: 720X1280
time: 757
Image size: 720X1280
time: 450
Image size: 720X1280
time: 4

[2022-11-24 07:30] yunyaoXYY commented on #680
目前

Hi,目前PPOCR支持BS，体现在cls和rec模型. 对比之前老的PPOCR已经有很大的速度提升了.
之前我有个地方说错了， ppocr_v3.batch_predict和ppocr_v3.Predict目前在功能上是一样的(无论是否是一次送1张图还是送多张图)，在Det检测模型中，固定的BS是1，后面分类和识别是支持BS的.

[2022-11-24 07:40] namemzy commented on #680
理解了，谢谢解答！

[2022-11-24 10:06] DefTruth commented on #690
请问您主要想部署的场景是什么呢？是必须要32位吗？以及想要用的推理后端是啥？

[2022-11-24 10:57] #685 closed, assigned to nobody

[2022-11-24 12:03] yz2yz opened #694 "0.8.0版本ocrv3的predict方法直接程序退出"
0.8.0版本ocrv3的predict方法直接程序退出，0.7.0版本没有这个问题。测试脚本如下，使用是paddleocr的公开模型，48行执行异常退出，没有报错信息：

import os
os.environ['CUDA_MODULE_LOADING'] = 'LAZY'

import fastdeploy as fd
from fastdeploy import ModelFormat
import cv2
import numpy as np
import os
import psutil

det_model_file  = 'weights/ch_PP-OCRv3_det_infer/inference.pdmodel'
det_params_file = 'weights/ch_PP-OCRv3_det_infer/inference.pdiparams'
rec_mod

[2022-11-24 12:56] DefTruth commented on #662
@denonzhu 已经在PR中修复了这个问题，可以删除原有的缓存和libs目录下的库，在android studio中重新编译一下试试

[2022-11-24 13:00] denonzhu commented on #662
好的，我测试一下

[2022-11-24 13:02] DefTruth commented on #662
labelFile指向的路径可以替换成你的2个label标签，新建一个txt文件，每行是一个label

[2022-11-24 13:06] denonzhu commented on #662
<img width="1361" alt="image" src="https://user-images.githubusercontent.com/5187679/203791660-c26c4a6f-de9e-4b43-ac85-5bef652b180c.png">
ha还是闪退

[2022-11-24 13:06] denonzhu commented on #662
代码已经更新到最新版本

[2022-11-24 13:09] denonzhu commented on #662
可以了，应该是缓存问题，下载最新的fd.aar可以运行了

[2022-11-24 13:09] DefTruth commented on #662
先把原来的aar删掉再试下

[2022-11-24 13:09] DefTruth commented on #662
nice ~

[2022-11-24 13:10] denonzhu commented on #662
性能非常不错，点赞，fps能达到2
![141669295595_ pic](https://user-images.githubusercontent.com/5187679/203792937-4d56d208-acaf-4601-aea9-b55ef48bb7cf.jpg)

[2022-11-24 13:13] #662 closed, assigned to DefTruth

[2022-11-24 13:15] DefTruth commented on #662
如有有遇到新的问题，也欢迎给我们提issue哈

[2022-11-24 13:16] denonzhu commented on #662
就是随便搞个快递面单就可以识别了，这个只检测快递单

[2022-11-24 13:16] denonzhu commented on #662
好的，下一个开始测试ocr

[2022-11-24 14:42] yuanyan3060 opened #697 "有考虑提供rust绑定吗？"

[2022-11-24 14:50] horror-proton opened #698 "Garbage in RPATH of opencv shared libraries"
检查 [`fastdeploy-linux-x64-0.8.0.tgz`](https://bj.bcebos.com/fastdeploy/release/cpp/fastdeploy-linux-x64-0.8.0.tgz) 中动态库的 RPATH, 发现存在如 `/jiangjiajun/opencv-3.4.16/build/installed_opencv_share/lib64` 的内容, 部署时这个目录不一定存在, 应该没有作用.
暂不清楚其他版本是否有此情况

[code]

[2022-11-25 02:12] wzy123456wzy commented on #690
em 系统是windows 10 64位，但是有32位进程需要调用接口，不用服务的形式，是打算调用dll，直接集成进去，推理后端是Paddle

[2022-11-25 02:16] wzy123456wzy opened #699 "能否提供模型加密的接口？"
模型在交付给客户的时候，没有加密手段，很难落地在客户环境上，只能自己公司环境内使用，没有办法满足客户私有云环境的需求。

[2022-11-25 02:18] denonzhu commented on #699
自行通过软件把模型加密，加载的时候解密就好了

[2022-11-25 02:27] wjj19950828 commented on #607
@chfeizy 目前RVM前后处理做了优化，可以参考这两个PR：
https://github.com/PaddlePaddle/FastDeploy/pull/658
https://github.com/PaddlePaddle/FastDeploy/pull/679

我这边自测了下，在我自己的Mac机器中：

CPU：Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz
Python：3.7
Torch：1.12.1
共100次测速，前20次warmup

版本 | Runtime(ms) | End2End(ms)
-- | -- | --
RVM TorchScript | 2247.62 | 2277.16
FastDeploy 优化前 | 103.07 | 238.79
FastDeploy 优化后 | 102.79 | 113.78

可以看

[2022-11-25 03:01] TWK2022 commented on #559
非常感谢！！

[2022-11-25 03:35] jiangjiajun commented on #697
Hi, @yuanyan3060 可以描述说明下你的需求背景吗，这样便于我们评估

[2022-11-25 05:46] albyho commented on #686
P/Invoke 或 C++/CLI 不就行了?

[2022-11-25 06:28] wzy123456wzy commented on #699
是有看过这种方法，不过感觉还是存在隐患，我看到Paddlex是有读文件流的接口，这样更保险一些

[2022-11-25 10:35] jiangjiajun commented on #699
目前FD确实还没提供读文件流的接口，这个加入到需求列表。 之后用户在使用时，只需要将解密后的文件流传给FD即可

[2022-11-25 11:32] #138 closed, assigned to DefTruth

[2022-11-26 01:24] yyj2013-two opened #707 "ppyoloe模型 多显卡环境使用trt加速，使用第二张显卡出错。Builder was created on device different than current device."
## 环境

- FastDeploy版本： 0.7.0 自己编译的 修改了opencv的版本
- 系统平台: Windows x64(Windows10)
- 硬件： CUDA 11.2 CUDNN 8.3 N卡2060 12G和2070ti 11G
- 编译语言： C++ / Python(3.7或3.8等）

## 问题描述
![7a5ef5ba6d9cae71e4452f9ed748f26](https://user-images.githubusercontent.com/54255051/204067192-ace5fbd7-6a6f-4afe-986f-1f851a985498.png)

![9047c34aaf4cc1949276577a7a83641](https://user-images.githubusercontent.com/54255051/20406719

[2022-11-26 07:26] ziqi-jin commented on #607
你好，我测试了SCRFD，结果如下
硬件环境：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
线程：4
Backend: OnnxRuntime
循环次数：100
FastDeploy:  20ms/pic
Lite: 24ms/pic
如果您希望进一步提高SCRFD的在FastDeploy的性能，可以参考RVM的优化方案。

[2022-11-26 07:49] chfeizy commented on #607
rvm 测试还是200到240ms感觉还是差点

[2022-11-26 07:58] chfeizy commented on #607
测试的 是 c++版本吗好像是 python 的

[2022-11-26 08:59] Abris-087 commented on #670
您好，我看到PaddleYOLO/configs/yolov5/README中写道：可以将paddle模型转化成onnx模型！
![image](https://user-images.githubusercontent.com/61613537/204080889-6753fb74-c695-4d6a-9a31-0dd1e1aac749.png)
我试了一下也成功了，但是转化来的onnx模型放到JetsonNano中调用却失败了，是因为FastDeploy不支持吗？
![image](https://user-images.githubusercontent.com/61613537/204080868-63001e02-084d-415f-93fb-850a4f276cd3.png)

[2022-11-26 09:27] jiangjiajun commented on #670
不能这样使用。ppdet训练的yolov5除了格式与原torch的yolov5不同之外，输入要求的数量，预处理等都不同，不能直接复用

[2022-11-26 12:16] wjj19950828 commented on #607
@chfeizy 拉去最新的代码，重新编译再试试，测试为c++版本

[2022-11-27 02:24] yz2yz commented on #694
使用最新版本0.0.0的FP32进行测试，不需要传入cls也能正常推理；
但是，开启FP16后，清理掉前面生成的trt文件，就报错：

[FastDeploy][INFO]:  Successfully found CUDA ToolKit from system PATH env -> D:\cuda113\cuda\bin
[INFO] fastdeploy/backends/tensorrt/trt_backend.cc(478)::fastdeploy::TrtBackend::BuildTrtEngine [TrtBackend] Use FP16 to inference.
[INFO] fastdeploy/backends/tensorrt/trt_backend.cc(483)::fastdeploy::TrtBackend::BuildTrtEngine Start t

[2022-11-27 06:51] jiangjiajun commented on #707
@yyj2013-two Hi， 由于我这里没有存在多卡的Windows机器，你能帮忙删除一下原代码中的这一行，重新编译测试看能否正常运行吗
https://github.com/PaddlePaddle/FastDeploy/blob/develop/fastdeploy/backends/tensorrt/trt_backend.cc#L305

[2022-11-27 10:16] chfeizy commented on #607
就是拉取的最新版本测试的时间是有提升但是还是不及lite.ai.toolkit

[2022-11-27 10:49] wjj19950828 opened #711 "[Backend] PaddleDetection PicoDet demo 开启paddle_trt出现double free or corruption (!prev)"
## 环境

- FastDeploy版本： Develop
- 系统平台: Linux x64(Ubuntu 18.04)
- 硬件：T4， CUDA 11.7 CUDNN 8.4
- 编译语言： C++

## 问题描述

PaddleDetection demo，在跑paddle_trt后端时会报```double free or corruption (!prev)```, 如下图, paddle_gpu/paddle_cpu无问题
<img width="958" alt="image" src="https://user-images.githubusercontent.com/19977378/204131093-c78f7357-47d6-4a8f-a967-7fa1a428dabf.png">

复现步骤：
以PicoDet为例，在GpuInfer中，option配置如下

[2022-11-28 08:45] yunyaoXYY commented on #694
Hi 我这边在支持FP16计算的GPU上，用TensorRT8.4.1.5复现了没有这个问题呢

[2022-11-28 08:54] yyj2013-two commented on #707
问题找到了，是因为创建模型和推理不在同一个线程导致的。

[2022-11-28 09:15] jiangjiajun commented on #707
@yyj2013-two 也麻烦附一下可以复现的代码供我们分析一下

[2022-11-28 12:35] jiangjiajun commented on #643
@JackonLiu 已经添加了支持，可以参考此文档安装nightly build版本使用 https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/en/build_and_install/download_prebuilt_libraries.md

[2022-11-29 02:25] wjj19950828 commented on #607
@chfeizy 使用如下C++ benchmark代码重测一下，我这边不会有这种现象
[code]
然后log信息截图看下吧～

[2022-11-29 03:33] #597 closed, assigned to LDOUBLEV, chenqianhe

[2022-11-29 07:37] HiaHong opened #738 "NameError: name 'ModelFormat' is not defined"
## Environment

FastDeploy version: e.g 0.8.0 or the latest code in develop branch
OS Platform: e.g. Linux x64 / Windows x64 / Mac OSX 12.1(arm or intel)
Hardware: e.g. Nvidia GPU 3060  CUDA 11.2 CUDNN 8.3
Program Language: e.g. Python 3.7

## Problem description
Please attach the log file if there's problem happend.
[code]

bug:
[code]

[2022-11-29 07:44] jiangjiajun commented on #738
`ModelFormat` is a attribute of `fastdeploy`, using the following code
[code]

[2022-11-29 07:54] HiaHong commented on #738
感谢,增加了from fastdeploy import ModelFormat 之后,发现报另外的错
[code]

[2022-11-29 08:08] chfeizy commented on #607
你这个是图片吗，我是直接使用摄像头的

[2022-11-29 08:12] jiangjiajun commented on #738
代码改为
[code]

[2022-11-29 08:39] Dekadenc opened #740 "关于使用FastDeploy部署YOLOE模型的一些疑问"
请问我想在Jeston nano上部署PP-YOLOE模型，使用FastDeploy和Paddle-Lite哪个比较合适

[2022-11-29 09:32] jiangjiajun commented on #740
FastDeploy与Paddle Lite是不同类型的产品。 FastDeploy在移动端、边缘端部署也依赖Paddle Lite。

FastDeploy侧重于模型**端到端**的部署（即包含模型任务部署时的数据前后处理），支持多硬件和多后端，可以看到的是除了Paddle Lite，也包含Paddle Inference、OpenVINO、TensorRT、ONNX Runtime等不同的后端，在架构上也可以支持其它的推理引擎。

[2022-11-29 10:18] intjun opened #742 "以openvino为后端运行ppocrv3cpu利用率低"
以openvino为后端运行ppocrv3 cpu利用率低
命令：
infer.py --det_model model/ch_PP-OCRv3_det_infer --cls_model model/ch_ppocr_mobile_v2.0_cls_infer --rec_model model/ch_PP-OCRv3_rec_infer --rec_label_file ppocr_keys_v1.txt --image 12.jpg --device cpu --backend openvino

[INFO] fastdeploy/backends/openvino/ov_backend.cc(161)::InitFromPaddle	Compile OpenVINO model on device_name:CPU.
[INFO] fastdeploy/runtime.cc(53

[2022-11-29 12:14] jiangjiajun commented on #742
这个问题正在查，但应该与OpenVINO后端有关。 建议使用Paddle Inference后端

[2022-11-29 12:31] jasper-cell opened #743 "使用c++版本的PPOCRV3时，cpu和GPU能正常进行推理，但是基于tensorrt推理出错"
## 环境

- FastDeploy版本： 说明具体的版本，如fastdeploy-linux-x64-gpu-0.8.0.tgz
- 系统平台: Linux x64(Ubuntu 18.04)
- 硬件： 说明具体硬件型号，如 Nvidia GPU 3090， CUDA 11.6 CUDNN 8.3
- 编译语言： C++

## 问题描述
[INFO] fastdeploy/backends/tensorrt/trt_backend.cc(623)::CreateTrtEngineFromOnnx        Detect serialized TensorRT Engine file in ./ch_PP-OCRv3_det_infer/det_trt_cache.trt, will load it directly.
[INFO] fastdeploy/backends/ten

[2022-11-29 13:11] yunyaoXYY commented on #743
Hello你好，
看着像是在rebuild引擎的时候出的错,你的TensorRT版本是多少呢?
你可以尝试按照这个代码中的 https://github.com/PaddlePaddle/FastDeploy/blob/develop/examples/vision/ocr/PP-OCRv3/cpp/infer.cc 动态shape,改一下动态输入, 并且重新编译example，再来运行. 重新跑之前把模型里的trt engine cache删掉.

[2022-11-29 13:52] colinchou2020 commented on #596
vs2019 CPU环境部署，编译库完全按按照官方指导的编译的

[2022-11-29 13:53] chenqianhe commented on #596
@jiangjiajun 麻烦看看给谁处理哈

[2022-11-29 14:01] colinchou2020 commented on #596
fastdeploy::RuntimeOption option;  执行到这句的时候报的，在使用编译的fastdeploy.dll库测试PP-OCRv3例子时出现。

[2022-11-29 14:06] jiangjiajun commented on #596
- 按照示例代码，使用命令行编译是否可以编译和执行
- 贴一下具体的出错提示截图

[2022-11-29 14:21] jasper-cell commented on #743
![image](https://user-images.githubusercontent.com/54393886/204552989-f7c91dfd-bf98-45e5-ab05-49083397a0ba.png)
您好，TensorRT的动态库我直接使用的是解压后的库路径

[2022-11-30 00:33] colinchou2020 commented on #596
![image](https://user-images.githubusercontent.com/50770300/204678731-6c31dc4f-b639-488c-be53-3ee307e59f6e.png)
![image](https://user-images.githubusercontent.com/50770300/204678749-5a645782-8dbe-4e02-a142-07809095fa31.png)

[2022-11-30 00:37] colinchou2020 commented on #596
库是使用这些编码的
![image](https://user-images.githubusercontent.com/50770300/204679207-92bbf9e7-131b-48ad-af99-f8ac257a49c5.png)

[2022-11-30 00:37] colinchou2020 commented on #596
库是使用这些编译的
![image](https://user-images.githubusercontent.com/50770300/204679243-a2e64ae1-3900-43ea-9b0d-d115a16fea72.png)

[2022-11-30 00:39] colinchou2020 commented on #596
使用编译的库测试这个demo时报错
![image](https://user-images.githubusercontent.com/50770300/204679427-03bff7bc-4a5c-40c0-b40c-35896ceb437b.png)

[2022-11-30 02:14] GeT-RiGhTTT opened #750 "md文档"
## 在fastdeply/docs/cn/quick_start/models/cpp.md中第三步准备CmakeList.txt和第四步中的目录结构不太明白

3. 准备CMakeList.txt
FastDeploy中包含多个依赖库，直接采用g++或编译器编译较为繁杂，推荐使用cmake进行编译配置。示例配置如下，

假设下载或准备的FastDeploy C++ SDK在/Paddle/Download目录下，且目录名为fastdeploy_cpp_sdk，在开发者的项目中只需添加如下代码，即可引入FASTDEPLOY_INCS和FASTDEPLOY_LIBS两个变量，分别表示依赖的头文件和库文件

include(/Paddle/Download/fastdeploy_cpp_sdk/FastDeploy.cmake)
PROJECT(infer_demo C CXX)
CMAKE

[2022-11-30 03:40] jiangjiajun commented on #750
已经删除“目录结构如下所示”，因为此目录下就两个文件`infer_demo.cc`和`CMakeLists.txt`，你现在使用有什么问题吗？

[2022-11-30 03:43] GeT-RiGhTTT commented on #750
执行时如提示error while loading shared libraries: libxxx.so: cannot open shared object file: No such file...，说明程序执行时没有找到FastDeploy的库路径，可通过执行如下命令，将FastDeploy的库路径添加到环境变量之后，重新执行二进制程序。

source /Path/to/fastdeploy_cpp_sdk/fastdeploy_init.sh

我source完还是回报同样的错误

[2022-11-30 03:55] jiangjiajun commented on #750
source时的日志提示贴一下

[2022-11-30 04:07] namemzy commented on #680
你好，我单独测试了rec模型的多batch推理，速度有比较大的提升，如下表
![image](https://user-images.githubusercontent.com/33368578/204704820-a3ccb4d9-85eb-43a5-b615-9a019dc583b2.png)
但是我在跑整个pp_ocr_v3的时候，对比python版本和c++ 版本的推理速度，c++版本居然更慢（如下表），请问有可能是什么原因导致的？
![image](https://user-images.githubusercontent.com/33368578/204705171-a98bb4dc-6b8f-4fc4-9f29-731b212c07b0.png)
测试代码
[code]
运行环境
Ubuntu 20.04 Server
CPU：Gold 6226R
GPU：RTX 3090

[2022-11-30 05:26] acgcc12 commented on #6
paddlex 训练的模型能通过这个部署嘛

[2022-11-30 05:35] jiangjiajun commented on #6
正在支持中

[2022-11-30 07:02] futureflsl opened #756 "【已支持】jetson什么时候可以支持fastdeploy gpu版本或者tensorrt版本？"
如题，fastdeploy目前只能在jetson上使用cpu，什么时候可以支持gpu

[2022-11-30 07:07] jiangjiajun commented on #756
我认为应该在下周五前可以支持

[2022-11-30 07:11] GeT-RiGhTTT commented on #750
icra@icra:~/extenddisk/ZZL/FastDeploy-release-0.8.0/deploy/build$ ./infer_demo
./infer_demo: error while loading shared libraries: libnvinfer.so.7: cannot open shared object file: No such file or directory
icra@icra:~/extenddisk/ZZL/FastDeploy-release-0.8.0/deploy/build$ source /home/icra/extenddisk/ZZL/FastDeploy-release-0.8.0/build/compiled_fastdeploy_sdk/fastdeploy_init.sh
Import environment va

[2022-11-30 07:27] jiangjiajun commented on #750
@GeT-RiGhTTT 你能试把这个脚本https://github.com/PaddlePaddle/FastDeploy/blob/develop/scripts/fastdeploy_init.sh拷到/home/icra/extenddisk/ZZL/FastDeploy-release-0.8.0 这个目录下，重新再执行一次source吗，如果还有问题的话，再贴一下日志看下

[2022-11-30 08:00] GeT-RiGhTTT commented on #750
报同样的错误

[2022-11-30 08:05] LL020202 commented on #369
＋１

[2022-11-30 08:07] GeT-RiGhTTT commented on #750
icra@icra:~/extenddisk/ZZL/FastDeploy-release-0.8.0/deploy/build$ source /home/icra/extenddisk/ZZL/FastDeploy-release-0.8.0/fastdeploy_init.sh
=============== Information ======================
FastDeploy Library Path: /home/icra/extenddisk/ZZL/FastDeploy-release-0.8.0
Platform: Linux
==================================================
Find Library Directory: /home/icra/extenddisk/ZZL/FastDeploy-re

[2022-11-30 08:12] jiangjiajun commented on #750
这个fastdeploy-release-0.8.0是你自己编译的吗，试下直接下载预编译的看下。注意重新开一个命令终端，因为当前终端已经导入了目前这个包的环境变量

在这里重新下载 https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/en/build_and_install/download_prebuilt_libraries.md

看这里的提示，应该是在编译fastdeploy的时候，链接到你环境中的tensorrt 7.x版本了

[2022-11-30 08:18] GeT-RiGhTTT commented on #750
这个文件夹的子文件夹有个build文件夹，是我自己编译的GPU部署C++SKD编译安装

[2022-11-30 08:28] Hyperpepe opened #758 "ARM开发板使用cpu部署Fastdeploy遇到的问题？"
## 环境
- FastDeploy版本： 没有适用的python包。
- 系统平台: Ubuntu 2004
- 硬件： Khadas VIM3
- 编译语言： Python(3.8）

## 问题描述
在wheel列表中找不到适用于arrch的whl文件，也就代表着没法安装环境，但是很奇怪的是能用pip 直接安装fastdeploy-python包，但是版本过低。
![image](https://user-images.githubusercontent.com/74920047/204745456-d72da433-1878-49d8-87b5-d727ae0ef9af.png)
zhe这是我下载的manylinux那个whl文件。
![image](https://user-images.githubusercontent.com/74920047/204745544-cc727

[2022-11-30 08:38] jiangjiajun commented on #758
pip install https://bj.bcebos.com/fastdeploy/release/wheels/fastdeploy_python-1.0.0-cp38-cp38-manylinux_2_17_aarch64.whl

我们的库还没托管到pypi源上（CPU以及aarch64的会在最近几天托管上去），当前安装时，需要通过如下命令(不过下面命令aarch64最新的还是0.2.0的版本，今晚会更新成1.0版本)
[code]

[2022-11-30 08:41] Hyperpepe commented on #758
好滴

[2022-11-30 08:41] #758 closed, assigned to nobody

[2022-11-30 08:56] UygarUsta99 commented on #559
How can I set   confidence threshold to  yolov5 ```!model_ocr.BatchPredict(bp_plate,&res_ocr)``` ? Also batch processing performance seems fine using yolov5 but I have not tested thoroughly.

[2022-11-30 08:57] jiangjiajun commented on #750
先下载预编译的包测试下哈

[2022-11-30 09:40] GeT-RiGhTTT commented on #750
我重新编译了一下，应该链接到了tensorrt 8.x版本，这个问题已经解决了，但是我运行./infer_demo报如下错误
icra@icra:~/extenddisk/ZZL/FastDeploy-release-0.8.0/deploy/build$ ./infer_demo
[ERROR] fastdeploy/vision/detection/ppdet/preprocessor.cc(37)::BuildPreprocessPipelineFromConfig	Failed to load yaml file infer_cfg.yml, maybe you should check this file.
[ERROR] fastdeploy/vision/detection/ppdet/preprocessor.cc(26)::PaddleDetPreprocessor	Fa

[2022-11-30 09:46] GeT-RiGhTTT commented on #750
另外，能不能加您个联系方式，因为这是部署的最后一步了，我嫌在github上联系有点繁琐，而且没法第一时间反馈，这是我的邮箱zlzhang0v0@foxmail.com

[2022-11-30 10:00] jiangjiajun commented on #750
[code]
这里提示已经很清楚了，没有找到 infer_cfg.yml， 建议检查下传入的模型路径。 加一下我们微信群

![A82A5CD300658C1D0DE1D843C8962BAF](https://user-images.githubusercontent.com/19339784/204766335-3a55488a-e7f8-4b1b-85d7-3df746600955.png)

[2022-11-30 10:23] aa889788 opened #759 "在windows平台使用Ninja编译失败"
## 环境

- FastDeploy版本： release/1.0.0
- 系统平台: Windows x64(Windows10)
- 硬件： github actions
- 编译语言： C++

[code]

## 问题描述
尝试使用github actions 搭建CI，但在windows平台编译出错，日志显示是最后`copy_yaml_library`时出现错误
[code]
https://github.com/aa889788/build-librarys/actions/runs/3582170039/jobs/6026077544

[2022-11-30 11:02] jiangjiajun commented on #559
You can filter the result by yourself. If you mean how to set confidence while visualize the result, refer to it's api definition, there's a parameter `score_threshold`

### Python
https://github.com/PaddlePaddle/FastDeploy/blob/d13a55b4e06ce72b80dec7ed2dd98b12ff2f67b7/python/fastdeploy/vision/visualize/__init__.py#L21-L26

### C++
https://github.com/PaddlePaddle/FastDeploy/blob/d13a55b4e06ce72b80

[2022-11-30 11:04] yunyaoXYY commented on #743
Hi,
有尝试过修改动态shape吗,
或者直接尝试一下今天新发布的 FastDeploy 1.0 试一下呢

[2022-11-30 11:20] jiangjiajun commented on #759
Ninja还没适配过，我来测试下哈。 为什么你需要自己搭建编译啊

[2022-11-30 11:29] aa889788 commented on #759
因为我们的软件是跨平台的，现在有些平台还需要手动编译依赖库然后放到编译文件夹里，所以就想要建一个自动ci服务，以后主程序编译的时候就自动从release下载编译好的库然后链接就可以了

[2022-11-30 11:36] jasper-cell commented on #743
好的，谢谢。1.0版本我测试了，可以正常使用tensorrt了。想请问下，端到端的PGNet有打算出fastDeploy的cpp版本吗

[2022-11-30 12:41] jiangjiajun commented on #759
@aa889788 我提了一个PR来修复这个问题，当前还仅支持CPU下的编译（根据你上面的日志，应该也是符合你的需求），拉最新代码即可

[2022-11-30 13:04] UygarUsta99 commented on #559
Thanks !

[2022-11-30 13:40] akansal1 opened #763 "Fastdeploy 1.0.0 Docker container GPU crashing"
## Environment

FastDeploy version: 1.0.0
OS Platform: Linux x64
Hardware:  Nvidia T4
Program Language: e.g. Python 3.8

## Problem description

I am trying to run PP-OCR V3 example via docker serving using following image:

`docker pull paddlepaddle/fastdeploy:1.0.0-gpu-cuda11.4-trt8.4-21.10`

But on inference triton server is crashing with following traceback:

[code]